.pagination .page-link {
  border: none;
  color: #17252A;
  padding: 5px 10px !important;
}

.pagination .page-item.active .page-link {
  background-color: #17252A!important;
  color: #ffffff !important;
  border-radius: 10px;
}


*{
  margin: 0;
  padding: 0;
}
.rate {
  float: left;
  float: left;
  height: 25px;
  padding: 0 0;
}
.rate:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.rate:not(:checked) > label {
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:25px;
  color:#ccc;
}
.rate:not(:checked) > label:before {
  content: '★ ';
}
.rate > input:checked ~ label {
  color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

