<template>
  <div>
    <app-breadcrumb></app-breadcrumb>
    <div class="p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-5 fw-normal">Favourites</h1>
    </div>
    <div class="row mb-3">
      <div class="container">
        <div class="row">
          <div class="container text-center">
            <favourites :rows="$store.state.favourites"></favourites>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Favourites from "../../components/movies/Favourites";
export default {
  components: {Favourites},
  layout: 'default',
  watchQuery: ['page'],
  middleware: ['auth'],
  fetch({$axios, store, route}) {
    try {
      return $axios.$get(route.fullPath).then(res => {
        store.commit("setFavourites", res.data);
      });
    } catch (e) {
    }
  },
  head() {
    return this.$prepareMeta({
      title: 'Favourites',
      description: null,
      keywords: null,
      image: null,
    }, this);
  },
  mounted() {
    /////////////////// setBreadcrumb
    this.$store.commit('setBreadcrumb', {
      title: 'Favourites',
    })
    ////////////////////////////////
  },
}
</script>

<style>
</style>
