<template>
  <div>
    <div class="container py-3">
      <app-header></app-header>
      <div class="section-wrapper">
        <Nuxt/>
        <client-only>
          <vue-confirm-dialog></vue-confirm-dialog>
        </client-only>
      </div>
      <app-footer></app-footer>
    </div>
  </div>
</template>
<script>

import AppHeader from "@/layouts/partials/AppHeader";
import AppFooter from "@/layouts/partials/AppFooter";

export default {
  components: {AppFooter, AppHeader},
}
</script>
