<template>
  <div class="container text-center">
    <h3 v-if="error.statusCode==404">{{error.statusCode}}, Page not found</h3>
    <h3 v-else>{{error.statusCode}}, {{error.message}}</h3>
    <NuxtLink to="/">Home</NuxtLink>
  </div>
</template>

<script>
export default {
  props: ['error'],
  layout: 'error'
}
</script>

