<template>
  <div class="container">
    <h2>{{ row.title }}</h2>
      <div class="text-center">
        <img :src="$config.IMAGE_SRC+row.poster_path" class="img-fluid" :alt="row.title">
      </div>
    <p>
      {{ row.overview }}
    </p>
  </div>
</template>

<script>
export default {
  props: ['row'],
}
</script>
