<template>
  <div v-if="this.$auth.loggedIn">
    <div class="table-wrap">
      <table class="table table-responsive" v-if="rows.length>0">
        <thead class="text-uppercase hidden-xs">
        <tr>
          <th>#</th>
          <th style="width: 20%">Movie ID</th>
          <th style="width: 20%">Title</th>
          <th style="width: 10%">Image</th>
          <th style="width: 10%">Value</th>
          <th style="width: 15%">Created at</th>
          <th style="width: 15%"></th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="row in rows" :key="row.attributes.id">
          <td>{{ row.attributes.id }}</td>
          <td>{{ row.attributes.movie_id }}</td>
          <td>{{ row.attributes.movie_title }}</td>
          <td>{{ row.attributes.value }}</td>
          <td>
            <img :src="$config.IMAGE_SRC+row.attributes.movie_img" :alt="row.title" height="50">
          </td>
          <td>{{ row.attributes.created_at }}</td>
          <td style="width: 10%">
            <a title="Delete" class="btn btn-danger btn-sm" @click.prevent="deleteRecord(row)">
              <i class="fa fa-trash"></i>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="text-center" v-else>
        There is no records
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['rows'],
  methods: {
    deleteRecord(row) {
      this.$confirm(
        {
          message: `Are you sure you want to delete`,
          button: {
            no: 'No',
            yes: 'Yes',
          },
          callback: confirm => {
            if (confirm) {
              let self = this;
              try {
                this.$axios.delete(`/rates/${row.attributes.id}`)
                  .then(async function () {
                    self.$store.commit('deleteRate', row.attributes.id);
                    self.$store.commit('deleteRateId', row.attributes.movie_id);
                    let params = (typeof self.$route.query.page !== "undefined") ? `?page=${self.$route.query.page}` : '';
                    let data = await self.$axios.$get(`/rates${params}`)
                    self.$store.commit("setRates", data);
                  });
              } catch (e) {
              }
            }
          }
        }
      );
      return false;
    }
  },
}
</script>
