<template>
  <div class="col-lg-3 col-md-6 mb-3">
    <div class="card">
      <nuxt-link :to="`/movies/${row.id}`">
        <img :src="$config.IMAGE_SRC+row.poster_path" class="card-img-top" :alt="row.title">
      </nuxt-link>
      <div class="card-body">
        <nuxt-link :to="`/movies/${row.id}`">
          <h5 class="card-title">#:{{ row.id }} {{ row.title }}</h5>
        </nuxt-link>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-10">
            <span v-if="rate">
              <span v-for="n in 5" :class="$helpers.rateClass(rate.attributes.value,n)"></span>
            </span>
            <span v-else>
               <div class="rate">
                  <label title="text"  @click.prevent="rateMovie(row,5)">5 stars</label>
                  <label title="text"  @click.prevent="rateMovie(row,4)">4 stars</label>
                  <label title="text"  @click.prevent="rateMovie(row,3)">3 stars</label>
                  <label title="text"  @click.prevent="rateMovie(row,2)">2 stars</label>
                  <label title="text"  @click.prevent="rateMovie(row,1)">1 star</label>
                </div>
            </span>
          </div>
          <div class="col-2">
            <span v-if="this.$auth.loggedIn">
                 <span v-if="isFavourited">
                   <i class="fas fa-heart"></i>
                 </span>
                 <span v-else>
                   <i class="far fa-heart" @click.prevent="addToFavourite(row)"></i>
                 </span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['row'],
  computed: {
    isFavourited() {
      if (this.$store.state.favourites.length > 0) {
        return (this.$store.state.favourites.findIndex(c => c.attributes.movie_id == this.row.id) != -1);
      }
      return false
    },
    rate() {
      let item;
      let id = this.row.id;
      this.$store.state.rates.find(function (element) {
        if (element.attributes.movie_id == id) {
          item = element;
        }
      });
      return item;
    },
  },
  methods: {
    addToFavourite(row) {
      let self = this;
      try {
        let data = {
          movie_id: row.id,
          movie_title: row.title,
          movie_img: row.poster_path
        };
        this.$axios.post(`/favourites`, data).then(async function (res) {
          self.$store.commit('addFavourite', res.data.data);
        });
      } catch (e) {
      }
    },
    rateMovie(row,value){
      let self = this;
      try {
        let data = {
          movie_id: row.id,
          movie_title: row.title,
          movie_img: row.poster_path,
          value:value
        };
        this.$axios.post(`/rates`, data).then(async function (res) {
          self.$store.commit('addRate', res.data.data);
          if(res.data.favourite!=undefined && res.data.favourite!=''){
            self.$store.commit('addFavourite', res.data.favourite);
          }
        });
      } catch (e) {
      }
    },
  },

}
</script>
