<template>
  <div class="container">
    <div class="site-breadcrumb">
      <nuxt-link :to="'/'">Home /</nuxt-link>
      <nuxt-link v-if="$store.state.breadcrumb.links!=undefined" v-for="link in $store.state.breadcrumb.links" :to="link.src"
                 :key="link.label">
        {{ link.label }} /
      </nuxt-link>
      <span>{{ $store.state.breadcrumb.title }}</span>
    </div>
  </div>
</template>
