<template>
  <div v-if="loading" class="loading-page">
    <p><img src="/img/loading.gif"></p>
  </div>
</template>

<script>
export default {
  data: () => ({
    loading: false
  }),
  methods: {
    start() {
      this.loading = true
    },
    finish() {
      this.loading = false
    }
  }
}
</script>

<style scoped>
.loading-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 200px;
  z-index: 1000000000;
}
.loading-page img{
  background:#000000;
  opacity: .9;
  width: 100px;
}
</style>

