<template>
  <div class="container mt-3 mb-3 text-center">
    <nav aria-label="Page navigation" v-if="(rows.meta.last_page>1 && rows.data.length)">
      <ul class="pagination justify-content-center">
        <li :class="(!first)?'page-item disabled':'page-item'">
          <nuxt-link class="page-link" :to="`${link}?page=${first}${queryString}`">{{ $t('First') }}</nuxt-link>
        </li>
        <li :class="(!previous)?'page-item disabled':'page-item'">
          <nuxt-link class="page-link" :to="`${link}?page=${previous}${queryString}`"> <<</nuxt-link>
        </li>

        <li :class="'page-item'" v-if="current-3>0">
          <nuxt-link class="page-link" :to="`${link}?page=${current-3}${queryString}`"> {{current-3}} </nuxt-link>
        </li>
        <li :class="'page-item'" v-if="current-2>0">
          <nuxt-link class="page-link" :to="`${link}?page=${current-2}${queryString}`"> {{current-2}} </nuxt-link>
        </li>
        <li :class="'page-item'" v-if="current-1>0">
          <nuxt-link class="page-link" :to="`${link}?page=${current-1}${queryString}`"> {{current-1}} </nuxt-link>
        </li>

        <li :class="(this.$route.query.page==current)?'page-item active':'page-item'">
          <nuxt-link class="page-link" :to="`${link}?page=${current}${queryString}`"> {{current}} </nuxt-link>
        </li>

        <li :class="'page-item'" v-if="current+1<last">
          <nuxt-link class="page-link" :to="`${link}?page=${current+1}${queryString}`"> {{current+1}} </nuxt-link>
        </li>
        <li :class="'page-item'" v-if="current+2<last">
          <nuxt-link class="page-link" :to="`${link}?page=${current+2}${queryString}`"> {{current+2}} </nuxt-link>
        </li>
        <li :class="'page-item'" v-if="current+3<last">
          <nuxt-link class="page-link" :to="`${link}?page=${current+3}${queryString}`"> {{current+3}} </nuxt-link>
        </li>


        <li :class="(!next)?'page-item disabled':'page-item'">
          <nuxt-link class="page-link" :to="`${link}?page=${next}${queryString}`"> >></nuxt-link>
        </li>
        <li :class="(!last)?'page-item disabled':'page-item'">
          <nuxt-link class="page-link" :to="`${link}?page=${last}${queryString}`">{{ $t('Last') }}</nuxt-link>
        </li>
      </ul>
      <br>
      {{ $t('Total') }}:{{ rows.meta.total }} {{ $t('Records') }}
    </nav>
  </div>
</template>

<script>
export default {
  props: ['rows', 'link', 'dataState'],
  data() {
    return {
      current: this.rows.meta.current_page,
      next: (this.rows.meta.last_page > this.rows.meta.current_page) ? this.rows.meta.current_page + 1 : null,
      previous: (this.rows.meta.current_page > 1) ? this.rows.meta.current_page - 1 : null,
      first: 1,
      last: this.rows.meta.last_page,
    }
  },
  computed: {
    queryString() {
      let st = '';
      if (this.$route.query) {
        Object.entries(this.$route.query).forEach(entry => {
          let [key, value] = entry;
          if (key != 'page') {
            st += "&" + key + '=' + value;
          }
        });
      }
      return st;
    }
  },
  watch: {
    rows() {
      this.current = this.rows.meta.current_page;
      this.next = (this.rows.meta.last_page > this.rows.meta.current_page) ? this.rows.meta.current_page + 1 : null;
      this.previous = (this.rows.meta.current_page > 1) ? this.rows.meta.current_page - 1 : null;
      this.last = this.rows.meta.last_page;
      console.log("next: " + this.next);
    }
  }
}
</script>

