<template>
  <div class="container">
    <form @submit.prevent="submit" accept-charset="UTF-8" enctype="multipart/form-data" class="main_form">
      <div class="mb-3 row form-group">
        <label class="col-sm-3 form-control-label">
          Email <span class="text-danger">*</span>
        </label>
        <div class="col-sm-9 mg-t-10 mg-sm-t-0 ">
          <input type="email" name="email" v-model="form.email" class="form-control" placeholder="Email" required>
          <span class='text-danger' v-if="$store.state.errors.email">{{ $store.state.errors.email }}</span>
        </div>
      </div>
      <div class="mb-3 row form-group">
        <label class="col-sm-3 form-control-label">
          Password <span class="text-danger">*</span>
        </label>
        <div class="col-sm-9 mg-t-10 mg-sm-t-0">
          <input type="password" name="password" v-model="form.password" class="form-control " placeholder="Password" required>
          <span class='text-danger' v-if="$store.state.errors.password">{{ $store.state.errors.password }}</span>
        </div>
      </div>

      <button class="btn btn-primary mb-3" :disabled="$store.state.isSubmitting">
        {{ ($store.state.isSubmitting) ?'Loading' : 'Submit' }}
      </button>
    </form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      form: {
        email: null,
        password: null,
        device:'web',
      }
    }
  },
  methods: {
    submit() {
      try {
        let self = this;
        this.$axios.post(`/login`, this.form)
          .then(async function (res) {
            let user=res.data.data;
            self.$auth.setUser(user);
            self.$auth.setUserToken(user.token);
            let favourites = await self.$axios.get(`/favourites`);
            if (favourites.data != undefined) {
              self.$store.commit('setFavourites', favourites.data.data);
            }
            let rates = await self.$axios.get(`/rates`);
            if (rates.data != undefined) {
              self.$store.commit('setRates', rates.data.data);
            }
          });
      } catch (e) {
      }
    }
  }
}
</script>
