/*
Theme Name: Studylms HTML Template
Author: Markhor Themes
Author URI: https://themeforest.net/user/htmlbeans
Version: 1
Description: Base theme for HTML5
Text Domain: base
Tags: one-column, two-columns, three-columns
Theme URI: http://www.htmlbeans.com/html/studylms/
*/
/*------------------------------------------------------------------
1. import files / import files
2. Embedded fonts styles
3. General reset
4. Wrapper  / #wrapper
5. Page Header  / #page-header
6. Top Bar  / .top-bar
7. Bar links  / .top-links
8. User links  / .user-links
9. Header holder  / .header-holder
10. Logo  / .logo
11. Nav  / #nav
12. Navbar search form  / .navbar-search-form
13. Main navigation / .main-navigation
14. Intro block  / .intro-block
15. Intro block slide  / .intro-block-slide
16. Fade slider  / .fade-slider
17. Feature aside  / .feacture-aside
18. Popular posts block  / .popular-posts-block
19. Popular posts hand  / .popular-posts-hand
20. Popular post  / .popular-post
21. Post author / .post-auther
22. Post statuses list / .post-statuses-list
23. Popular post slider / .popular-post-slider
24. Coounter aside / .counter-aside
25. Upcoming events block / .upcoming-events-block
26. Block header / .block-header
27. Upcoming events list / .upcoming-events-list
28. Course search aside / .course-search-aside
29. Course search form / .course-search-form
30. Categories aside / .Categories-aside
31. Categories list / .Categories-list
32. Getstarted block / .getstarted-block
33. Limit counter / .limit-counter
34. Getstarted bar / .getstarted-bar
35. Testimonials block / .testimonials-block
36. Textimonial quote / .textimonial-quote
37. Textimonial slider / .textimonial-slider
38. Seperator hand / .seperator-hand
39. News block / .news-block
40. News post / .news-post
41. Subscription aside block / .subscription-aside-block
42. Newsletter sub form / .newsletter-sub-form
43. Footer area / .footer-area
44. aside / .aside
45. Widget cources list / .widget-cources-list
46.Fooer-navigation / .fooer-navigation
47. Ft address / .ft-address
48. Social networks / .social-networks
49. Page footer / .page-footer
50. Heading banner / .heading-banner
51. Breadcrumb / .breadcrumb
52. Show head / .show-head
53. Pagination / .pagination
54. Two columns / #two-columns
55. Content / #content
56. Widget / .widget
57. Widget search / .widget-search
58. Search form / .search-form
59. Widget intro / .widget-intro
60. Single head / .single-haad
61. Profiler wrap / .profiler-wrap
62. Content heading / .content-heading
63. View header / .view-header
64. Content aligncenter / .content-aligncenter
64. SectionRowPanelGroup / .sectionRowPanelGroup
65. BookmarkFoot / .bookmarkFoot
66. instructorInfoBox / .instructorInfoBox
67. ReviewsList / .reviewsList
68. ReviesSubmissionForm / .reviesSubmissionForm
69. Widget box / .widget-box
70. Widget course select / .widget-course-select
71. Tag clouds / .tag-clouds
72. VisualImageHolder / .visualImageHolder
73. CaptionAddress / .captionAddress
74. TicketsInfoAside / .ticketsInfoAside
75. TicketsInfoList / .ticketsInfoList
76. EventContentTabsWrap / .eventContentTabsWrap
77. ListDefault / .listDefault
78. MapHolder / .mapHolder
79. ShareWrap / .shareWrap
80. Widget archives / .widget_archives
81. PostActionsInfo / .postActionsInfo
82. BlogPost / .blogPost
83. ContentRightImage / .contentRightImage
84. WriterAsideInfo / .writerAsideInfo
85. CommentsList / .commentsList
86. CommentForm / .commentForm
87. Text info block / .text-info-block
88. Why lms block / .why-lms-block
89. Sep heading / .Sep-heading
90. Why say slider / .why-say-slider
91. Say quote / .say-quote
92. Why panel group / .why-panel-group
93. Aside note block / .aside-note-block
94. Professionals block / .professionals-block
95. Pro column / .pro-column
96. Contact block / .contact-block
97. Detail column / .detail-column
98. Sep or / .sep-or
99. Contact form / .contact-form
100. Btn aside block / .btn-aside-block
101. User log block / .user-log-block
102. User log form / .user-log-form

-------------------------------------------------------------------*/

// devices viewport width starts at:
$breakpoints: (
	xs-phone: 480px,
	phone: 576px,
	tablet: 768px,
	desktop: 992px,
	widescreen: 1200px,
	widescreen2: 1400px,
	widescreen3: 1920px,
);
// keywords
$media-expressions: (
	'screen': 'screen',
	'print': 'print',
	'handheld': 'handheld',
	'landscape': '(orientation: landscape)',
	'portrait': '(orientation: portrait)',
	'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
	'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);
// ligatured operators ≥ ≤

/*------------------------------------------------------------------
1. import files / import files
-------------------------------------------------------------------*/

@import 'vendors/include-media';

@import "bootstrap-custom";
@import "vendors/bootstrap/variables";
@import "vendors/bootstrap/mixins";
@import 'base/mixins';
@import 'base/helpers';
@import "vendors/choosen-custom-select";
@import "vendors/jquery-ui";
@import "vendors/custom-input-number";
/* ---------------------------------------------------------
 2. Embedded fonts styles
 ---------------------------------------------------------*/
@import "vendors/fontawesone/fa-regular";
@import "vendors/fontawesone/fa-solid";
@import "vendors/fontawesone/fa-brands";
@import "vendors/fontawesone/fontawesome";


/* ---------------------------------------------------------
 3. General reset
 ---------------------------------------------------------*/

@import "base/wp-reset";
@import "vendors/slick";

html{ background-color: $gray-darker;}
body{
	min-width: 320px;
	-ms-overflow-style: scrollbar;
}
a,
button{ @extend %transition; }
h1,
h2,
h3,
h4,
h5,
h6,
.h{
	text-transform: capitalize;
	a{
		color: inherit;
		&:hover,
		&:focus,
		&:active{ color: $brand-warning; }
	}
}
p{ margin: 0 0 26px; }
.element-block{ display: block;}
.form-control{
	box-shadow: none;
	-webkit-appearance: none;
	@extend %transition;
}
.bg-cover{
	background-size: cover;
	background-position: 50% 50%;
}
.bg-dark{ background-color: $gray-darker;}
.bg-gray{ background-color: $clr1;}
.bg-light{ background-color: $clr3;}
.font-lato{ font-family: $font-lato;}
.font-roboto{ font-family: $font-roboto;}
.font-base{ font-family: $font-family-sans-serif;}
.font-serif{ font-family: $font-family-serif;}
.fw-bold{ font-weight: 700;}
.fw-normal{ font-weight: 400;}
.fw-light{ font-weight: 300;}
.fw-semi{ font-weight: 600;}
.text-gray{ color: $gray-light;}
.text-white{ color: $white;}
.bg-success{ background-color: $brand-success;}
.rounded-circle{ border-radius: 100%;}
.btn{
	font-size: 12px;
	border-width: 2px;
}
.ttn{text-transform: none;}
.btn-white{
	background-color: $white;
	color: $gray-darker;
	border-color: $white;
	&:hover{
		color: $gray-darker;
		background-color: darken($white, 15%);
		border-color: darken($white, 15%);
	}
}
.btn-dark{
	background-color: $gray-darker;
	color: $white;
	border-color: $gray-darker;
	&:hover{
		color: $white;
		border-color: lighten($gray-darker, 15%);
		background-color: lighten($gray-darker, 15%);
	}
}
.btn-default{
	&:hover,
	&:focus,
	&:active{
		color: $white;
		background-color: $brand-warning;
		border-color: $brand-warning;
	}
}
.dropdown-menu{ box-shadow: 0 0 3px rgba($gray-base, 0.18); }
.anim{
	transition: all 0.5s ease 0.3s;
	opacity: 0;
	visibility: hidden;
	transform: translateY(30px);
	&.delay1{ transition-delay: 0.8s; }
	&.delay2{ transition-delay: 1.2s; }
	.slick-active &{
		opacity: 1;
		visibility: visible;
		transform: translateY(0);
	}
}
.no-shrink{flex-shrink: 0;}
.text-noCase{text-transform: none;}
.static-block{position: static;}
.price-tag{
	border-radius: 2px;
	font-size: 13px;
	line-height: 1;
	padding: 3px 9px;
	@include vertical(inline-block, top);
}
.star-rating{
	display: flex;
	flex-flow: row nowrap;
	margin: 0 -1px;
	&.justify-end{ justify-content: flex-end; }
	> li{
		margin-left: 1px;
		margin-right: 1px;
		color: $brand-warning;
		font-size: 11px;
		line-height: 1;
	}
	form &{
		margin-top: 8px;
		> li{ color: $clr5; }
		.customFormReset:checked + label{ color: $brand-warning; }
	}
	.product-module &{ margin-bottom: 10px; }
	.widget &{ padding-left: 0; }
	.reviews-wrap &{ margin-right: 16px; }
	.widget-cources-list &{ padding-top: 5px; }
}
.customFormReset{
	position: fixed;
	z-index: -1111;
	opacity: 0;
	left: -9999px;
	top: 0;
}
/* ---------------------------------------------------------
 4. Wrapper  / #wrapper
 ---------------------------------------------------------*/
#wrapper{
	width: 100%;
	position: relative;
	overflow: hidden;
}
/* ---------------------------------------------------------
 5. Page Header  / #page-header
 ---------------------------------------------------------*/
#page-header{
	position: relative;
	width: 100%;
	z-index: 99;
	&.page-header-stick{
		.sticky{
			background:$gray-darker;
		}
	}
}
/* ---------------------------------------------------------
 6. Top Bar  / .top-bar
 ---------------------------------------------------------*/
.top-bar{
	&.bg-light{ border-bottom: 1px solid $clr10; }
	.top-bar-holder{
		display: flex;
		&:after,
		&:before{ display: none; }
	}
	.col{ display: flex;}
	.justify-end{
		align-items: center;
		justify-content: flex-end;
	}
	.align-center{ align-items: center; }
	p{ margin: 0; }
}
/* ---------------------------------------------------------
 7. Bar links  / .top-links
 ---------------------------------------------------------*/
.bar-links{
	display: flex;
	flex-flow: row wrap;
	align-items: stretch;
	margin-bottom: 0;
	> li{
		display: flex;
		flex-flow: row nowrap;
		align-items: stretch;
		+ li{ margin-left: -1px; }
		> a{
			display: flex;
			align-items: center;
			color: inherit;
			border: solid currentColor;
			border-width: 0 1px;
			border-radius: 1px;
			letter-spacing: 0.5px;
			font-size: 32px;
			line-height: (32/32);
			padding: 4px 7px;
			&:hover{ box-shadow: 0 0 5px $white, inset 0 0 5px 0 $white; }
		}
	}
	.dt{
		color: $gray-lighter;
		margin-right: 10px;
	}
}
/* ---------------------------------------------------------
 8. User links  / .user-links
 ---------------------------------------------------------*/
.user-links{
	display: flex;
	align-items: center;
	flex-flow: row nowrap;
	font-size: 12px;
	line-height: (16/12);
	padding: 5px 12px;
	margin-bottom: 0;
	> li{
		> a{
			color: $gray-light;
			&:hover{ color: $white; }
		}
	}
	.sep{ color: $gray-light; }
	.nav-holder &{
		background-color: rgba($gray-darker, 0.1);
		width: 107px;
		justify-content: center;
		> li{
			> a{
				color: inherit;
				&:hover{ color: $gray-darker; }
			}
		}
		.sep{ color: inherit; }
	}
}
/* ---------------------------------------------------------
 9. Header holder  / .header-holder
 ---------------------------------------------------------*/
.header-holder{
	padding-top: 10px;
	padding-bottom: 10px;
	&.sticky{
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		background: $white;
		box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.2);
	}
	&.align-center{
		.row{ align-items: center;}
	}
	.row{
		display: flex;
		&:after,
		&:before{ display: none;}
	}
}
/* ---------------------------------------------------------
 10. Logo  / .logo
 ---------------------------------------------------------*/
.logo{
	max-width: 129px;
	margin-top: 5px;
	.aside &{ margin-bottom: 13px; }
	img{ @extend %img-responsive; }
}
/* ---------------------------------------------------------
 11. Nav  / #nav
 ---------------------------------------------------------*/
#nav{
	background-color: transparent;
	border: 0;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-items: center;
	margin-bottom: 0;
	min-height: 1px;
	position: static;
	&:after,
	&:before{ display: none; }
	.navbar-toggle{
		margin: 0;
		&:hover,
		&:focus,
		&:active{
			.icon-bar{ background-color: $white; }
		}
	}
	.navbar-collapse{
		position: absolute;
		left: 0;
		top: 100%;
		right: 0;
		background-color: $navbar-default-bg;
	}
	.nav-holder &{ justify-content: flex-start; }
}
/* ---------------------------------------------------------
 12. Navbar search form  / .navbar-search-form
 ---------------------------------------------------------*/
.navbar-search-form{
	margin: 0 0 0 9px;
	padding: 0;
	.search-opener{
		color: $gray-darker;
		&:hover{ color: $brand-success; }
	}
	.search-collapse{
		&,
		&.collapsing,
		&.collapse,
		&.collapse.in{
			position: absolute;
			top: 100%;
			right: 0;
		}
	}
	.btn{
		position: absolute;
		top: 0;
		right: 0;
		padding: 0;
		background-color: transparent;
		color: $gray-darker;
		border: solid $input-border;
		border-width: 0 0 0 1px;
		@include size(35px, 100%);
		&:hover{ color: $brand-success; }
	}
	.nav-holder &{
		.search-opener{
			color: inherit;
			&:hover{ color: $gray-darker; }
		}
	}
}
/* ---------------------------------------------------------
 13. Main navigation / .main-navigation
 ---------------------------------------------------------*/
.main-navigation{ margin: 0; }
/* ---------------------------------------------------------
 14. Intro block  / .intro-block
 ---------------------------------------------------------*/
.intro-block{ overflow: hidden; }
/* ---------------------------------------------------------
 15. Intro block slide  / .intro-block-slide
 ---------------------------------------------------------*/
.intro-block-slide{
	min-height: 100vh;
	color: $white;
	font-size: 18px;
	line-height: (26/18);
	text-align: center;
	&.overlay{
		@include pseudo(before, 0, 0, 0, 0);
		&:before{
			pointer-events: none;
			background-color: rgba($gray-base, 0.35);
		}
	}
	.align-wrap{
		position: relative;
		z-index: 2;
		min-height: inherit;
		@include v-align(inherit, middle, before);
		.align{
			max-width: 562px;
			margin-left: -3px;
			padding: 35px 20px 60px;
		}
	}
	.intro-block-heading{
		color: inherit;
		font-weight: 700;
		margin: 0 0 13px;
	}
	.btns-wrap{
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		padding-top: 32px;
	}
	.btn{
		vertical-align: top;
		margin-right: 5px;
		margin-bottom: 5px;
		min-width: 145px;
		font-size: 12px;
		padding-top: 13px;
		padding-bottom: 13px;
	}
	p{margin: 0;}
}
/* ---------------------------------------------------------
 16. Fade slider  / .fade-slider
 ---------------------------------------------------------*/
.fade-slider{
	.slick-arrow{
		position: absolute;
		top: 50%;
		z-index: 9;
		background-color: rgba($gray-base, 0.3);
		transform: translateY(-50%);
		display: flex;
		align-items: center;
		justify-content: center;
		color: $white;
		font-size: 12px;
		@include size(20px, 40px);
		&.slick-prev{ left: 0; }
		&.slick-next{ right: 0; }
		&:focus{ color: $white; }
		&:hover{
			color: $white;
			background-color: $gray-base;
		}
	}
}
/* ---------------------------------------------------------
 17. Feature aside  / .feacture-aside
 ---------------------------------------------------------*/
.features-aside{
	.col{
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		flex-grow: 1;
		flex-basis: 0;
		color: $white;
		padding: 15px 10px;
		&:nth-child(2){
			background-color: darken($color, 2%);
			&:hover{ background-color: darken($color, 3%); }
		}
		&:nth-child(3){
			background-color: darken($color, 4%);
			&:hover{ background-color: darken($color, 5%); }
		}
		&:hover{
			background-color: darken($color, 1%);
			.icn-wrap{ transform: rotateY(360deg); }
			.view-more{ transform: translateX(3px); }
		}
	}
	.features-aside-heading{
		color: inherit;
		margin: 0 0 2px;
		font-size: 18px;
		line-height: (21/18);
	}
	.view-more{ @extend %transition;}
	.icn-wrap{
		@extend %transition;
		transform: rotateY(0deg);
		margin-right: 20px;
		width: 43px;
		img{ @extend %img-responsive; }
	}
	.intro-block &{
		transform: translateY(-30px);
		margin: 0 #{$grid-gutter-width / -2} -30px;
	}
}
/* ---------------------------------------------------------
 18. Popular posts block  / .popular-posts-block
 ---------------------------------------------------------*/
.popular-posts-block{
	padding-top: 35px;
	padding-bottom: 35px;
	.btns-wrap{
		padding-top: 20px;
		.btn{
			vertical-align: top;
			min-width: 175px;
		}
	}
}
/* ---------------------------------------------------------
 19. Popular posts hand  / .popular-posts-hand
 ---------------------------------------------------------*/
.popular-posts-head{
	overflow: hidden;
	.popular-head-heading{ margin: 0 0 39px;}
}
/* ---------------------------------------------------------
 20. Popular post  / .popular-post
 ---------------------------------------------------------*/
.popular-post{
	overflow: hidden;
	position: relative;
	border-radius: $border-radius-small;
	box-shadow: inset 0 0 0 1px $gray-lighter;
	padding: 0 20px;
	margin-bottom: 40px;
	&:hover{
		box-shadow: inset 0 0 0 1px $brand-primary;
		.aligncenter{
			&:before{ transform: translateY(0); }
		}
	}
	.gutter-reset{
		margin-left: -20px;
		margin-right: -20px;
	}
	.aligncenter{
		margin: 0 -20px 20px;
		position: relative;
		z-index: 1;
		@include pseudo(before, 0, 0, 0, 0);
		&:before{
			background: rgba(255, 192, 0, 0.6);
			transform: translateY(-100%);
			transition: all 0.25s linear;
		}
		img{
			display: block;
			max-width: none;
			width: 100%;
		}
	}
	.post-heading{
		text-transform: none;
		margin: 0 0 17px;
		font-weight: 400;
		font-size: 17px;
		line-height: (22/17);
	}
	.post-foot{
		color: $gray-light;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-radius: 1px;
		box-shadow: inset 0 1px 0 $gray-lighter;
		padding: 19px 20px 21px;
	}
	img{ @extend %img-responsive; }
}
/* ---------------------------------------------------------
 21. Post author / .post-auther
 ---------------------------------------------------------*/
.post-author{
	display: flex;
	align-items: center;
	overflow: hidden;
	margin-bottom: 24px;
	.alignleft{
		margin: 0 7px 0 0;
		overflow: hidden;
		@include size(35px);
	}
	.author-heading{
		margin: 0;
		color: $gray-light;
		font-weight: 400;
		font-size: 13px;
		font-family: $font-family-sans-serif;
	}
	.author-heading-subtitle{
		margin: 4px 0 0;
		font-size: 12px;
		line-height: (14/12);
	}
	.widget_popular_posts &{
		margin-bottom: 0;
		padding-top: 9px;
	}
}
/* ---------------------------------------------------------
 22. Post statuses list / .post-statuses-list
 ---------------------------------------------------------*/
.post-statuses-list{
	margin-bottom: 0;
	display: flex;
	flex-flow: row wrap;
	> li{
		display: flex;
		align-items: center;
		font-size: 13px;
		line-height: 1;
		margin-right: 13px;
		> a{
			color: inherit;
			&:hover{ color: $brand-primary; }
		}
	}
	.icn{
		margin-right: 1px;
		font-size: 16px;
	}
}
/* ---------------------------------------------------------
 23. Popular post slider / .popular-post-slider
 ---------------------------------------------------------*/
.popular-posts-slider{
	padding-bottom: 45px;
	.slick-arrow{
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		color: $gray-darker;
		border: 1px solid $gray-lighter;
		font-size: 14px;
		left: 50%;
		transform: translateX(-50%);
		bottom: 0;
		margin-left: 25px;
		@include size(34px);
		&.slick-disabled{
			pointer-events: none;
			color: $gray-light;
		}
		&:hover{
			background-color: $brand-primary;
			color: $white;
			border-color: $brand-primary;
		}
	}
	.slick-prev{ margin-left: -25px; }
}
/* ---------------------------------------------------------
 24. Coounter aside / .counter-aside
 ---------------------------------------------------------*/
.counter-aside{
	position: relative;
	overflow: hidden;
	min-height: 280px;
	color: $white;
	text-align: center;
	.align-wrap{
		min-height: inherit;
		@include v-align(inherit, middle, before);
		.align{
			max-width: none;
			width: 100%;
			margin-left: -3px;
			padding-top: 35px;
			padding-bottom: 0;
		}
	}
	.counter-aside-heading{
		color: inherit;
		margin: 0 0 30px;
		font-size: 14px;
		line-height: 1;
	}
	.countdown{
		font-size: 42px;
		padding-bottom: 10px;
		margin-bottom: 18px;
		position: relative;
		@include pseudo(after, auto, auto, 0, 50%);
		&:after{
			transform: translateX(-50%);
			@include size(30px, 3px);
		}
	}
	.col{ margin-bottom: 20px; }
}
/* ---------------------------------------------------------
 25. Upcoming events block / .upcoming-events-block
 ---------------------------------------------------------*/
.upcoming-events-block{
	padding-top: 45px;
	padding-bottom: 24px;
}
/* ---------------------------------------------------------
 26. Block header / .block-header
 ---------------------------------------------------------*/
.block-header{
	overflow: hidden;
	position: relative;
	padding-bottom: 11px;
	margin-bottom: 40px;
	@include pseudo(after, auto, auto, 0, 0);
	&:after{ @include size(39px, 1px); }
	.block-header-heading{ margin: 0 0 6px; }
	p{ margin: 0; }
}
/* ---------------------------------------------------------
 27. Upcoming events list / .upcoming-events-list
 ---------------------------------------------------------*/
.upcoming-events-list{
	margin-bottom: 0;
	> li{
		overflow: hidden;
		margin-bottom: 30px;
		+ li{
			padding-top: 40px;
			border-top: 1px solid $gray-lighter;
		}
	}
	.time{
		display: flex;
		align-items: flex-end;
		flex-flow: row wrap;
		letter-spacing: -0.6px;
		font-size: 20px;
		line-height: 1;
	}
	.alignright{
		margin: 0 auto 15px;
		max-width: 221px;
		float: none;
	}
	.alignleft{ float: none; }
	.date{ font-size: 40px; }
	.month{
		font-size: 14px;
		margin-bottom: 3px;
	}
	.day{
		width: 100%;
		padding-top: 6px;
	}
	.description-wrap{
		overflow: hidden;
		padding-top: 7px;
	}
	address{ margin: 0 0 12px; }
	.list-heading{
		text-transform: none;
		font-weight: 400;
		margin: 0 0 8px;
	}
	.btn{
		vertical-align: top;
		min-width: 107px;
	}
	img{ @extend %img-responsive; }
}
/* ---------------------------------------------------------
 28. Course search aside / .course-search-aside
 ---------------------------------------------------------*/
.course-search-aside{
	padding-top: 35px;
	padding-bottom: 35px;
	text-align: center;
	&.bg-dark{ color: $clr4; }
	p{ margin: 0; }
}
/* ---------------------------------------------------------
 29. Course search form / .course-search-form
 ---------------------------------------------------------*/
.course-search-form{
	text-align: center;
	position: relative;
	label{
		&.element-block{
			margin: 0 0 25px;
			font-size: 28px;
			color: $gray-darker;
		}
	}
	select{ width: 100%; }
	.chosen-container{
		display: block;
		@include size(100%, 52px);
	}
	.btn{
		margin-left: 8px;
		margin-bottom: $form-group-margin-bottom;
		@include size(157px, 52px);
	}
	.tag-new-text{
		position: absolute;
		left: 15px;
		bottom: 100%;
		z-index: 4;
		font-size: 18px;
		line-height: (20/18);
		padding: 14px 20px;
		margin-bottom: 35px;
		color: $gray-darker;
	}
}
/* ---------------------------------------------------------
 30. Categories aside / .Categories-aside
 ---------------------------------------------------------*/
.categories-aside{
	color: $white;
	position: relative;
	z-index: 1;
	padding-top: 35px;
	padding-bottom: 20px;
	@include pseudo(before, 0, 0, 0, 0);
	&:before{
		background-color: rgba($gray-base, 0.15);
		pointer-events: none;
	}
	.holder{
		position: relative;
		z-index: 1;
	}
}
/* ---------------------------------------------------------
 31. Categories list / .Categories-list
 ---------------------------------------------------------*/
.categories-list{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 0 -10px;
	> li{
		padding-right: 10px;
		padding-left: 10px;
		margin-bottom: 20px;
		> a{
			display: flex;
			color: inherit;
			align-items: center;
			justify-content: center;
			flex-flow: row wrap;
			background-color: rgba($white, 0.1);
			border-radius: $border-radius-large;
			overflow: hidden;
			border-bottom: 3px solid transparent;
			@include size(132px, 145px);
		}
	}
	.icn-wrap,
	h5, .h5{ width: 100%; }
	h5, .h5{
		margin: 0;
		color: inherit;
		text-transform: uppercase;
	}
	.icn-wrap{
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 22px;
		height: 51px;
	}
	img{ @extend %img-responsive; }
}
/* ---------------------------------------------------------
 32. Getstarted block / .getstarted-block
 ---------------------------------------------------------*/
.getstarted-block{
	padding-top: 35px;
	padding-bottom: 36px;
	text-align: center;
	.col{ margin-bottom: 30px; }
	.alignleft{
		overflow: hidden;
		border-radius: $border-radius-large;
		max-width: 255px;
		margin: 0 auto 15px;
		float: none;
	}
	.description-wrap{ overflow: hidden; }
	h2, .h2{
		margin: 0 0 14px;
		font-size: 21px;
		line-height: (40/28);
	}
	.btn{
		vertical-align: top;
		min-width: 133px;
	}
	img{ @extend %img-responsive; }
	p{ margin: 0 0 19px; }
}
/* ---------------------------------------------------------
 33. Limit counter / .limit-counter
 ---------------------------------------------------------*/
.limit-counter{
	padding-top: 11px;
	.title{
		margin-bottom: 28px;
		font-size: 16px;
	}
}
/* ---------------------------------------------------------
 34. Getstarted bar / .getstarted-bar
 ---------------------------------------------------------*/
.getstarted-bar{
	border: 1px solid $gray-lighter;
	padding-top: 25px;
	padding-bottom: 15px;
	h4, .h4,
	.btn{ margin: 0 0 15px; }
	.btn{
		padding-top: 9px;
		padding-bottom: 10px;
		font-size: 14px;
		min-width: 158px;
	}
}
/* ---------------------------------------------------------
 35. Testimonials block / .testimonials-block
 ---------------------------------------------------------*/
.testimonials-block{
	padding-top: 40px;
	padding-bottom: 43px;
	h2, .h2{ margin: 0 0 28px; }
}
/* ---------------------------------------------------------
 36. Textimonial quote / .textimonial-quote
 ---------------------------------------------------------*/
.testimonial-quote{
	margin: 0 auto;
	padding: 0;
	border: 0;
	font-size: 15px;
	line-height: (30/18);
	width: 100%;
	max-width: 615px;
	q,
	p{
		font: inherit;
		margin: 0 0 23px;
		opacity: 0;
		transform: translateY(-60px);
		transition: all 0.55s linear;
	}
	.avatar{
		overflow: hidden;
		margin: 0 auto 12px;
		@include size(65px);
		opacity: 0;
		transform: translateY(60px);
		transition: all 0.55s linear;
		img{
			display: block;
			width: 100%;
		}
	}
	cite{ font-style: normal; }
	h5, .h5{
		margin: 0;
		font-weight: 400;
		opacity: 0;
		transform: translateY(80px);
		transition: all 0.55s linear;
	}
}
/* ---------------------------------------------------------
 37. Textimonial slider / .textimonial-slider
 ---------------------------------------------------------*/
.testimonail-slider{
	padding-bottom: 50px;
	.slick-arrow{
		position: absolute;
		bottom: 0;
		left: 50%;
		z-index: 2;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid $gray-lighter;
		color: $gray-light;
		transform: translateX(-50%);
		margin-left: -25px;
		@include size(36px);
		&:hover{
			color: $white;
			background-color: $brand-primary;
		}
	}
	.slick-next{ margin-left: 25px; }
	.slick-active{
		q,
		p,
		h5, .h5,
		.avatar{
			opacity: 1;
			transform: translateY(0);
		}
	}
}
/* ---------------------------------------------------------
 38. Seperator hand / .seperator-hand
 ---------------------------------------------------------*/
.seperator-head{
	overflow: hidden;
	font-size: 16px;
	line-height: (22/16);
	padding-bottom: 12px;
	position: relative;
	@include pseudo(before, auto, auto, 0, 50%);
	@include pseudo(after, auto, auto, 0, 50%);
	&:before,
	&:after{
		pointer-events: none;
		height: 1px;
		@include size(100%, 1px);
		transform: translateX(-50%);
	}
	&:before{
		max-width: 50px;
		z-index: 1;
	}
	&:after{
		max-width: 290px;
		 background-color: $gray-lighter;
	}
	h2, .h2{ margin: 0 0 10px; }
	.news-block &,
	.how-work-block &{ margin-bottom: 35px; }
	.professionals-block &,
	.popular-posts-block &,
	.pricing-details-block &{ margin-bottom: 25px; }
	.contact-block &{ margin-bottom: 60px; }
	p{ margin: 0 0 13px; }
}
/* ---------------------------------------------------------
 39. News block / .news-block
 ---------------------------------------------------------*/
.news-block{
	padding-top: 35px;
	padding-bottom: 25px;
}
/* ---------------------------------------------------------
 40. News post / .news-post
 ---------------------------------------------------------*/
.news-post{
	line-height: (22/14);
	margin-bottom: 30px;
	z-index: 1;
	overflow: hidden;
	position: relative;
	padding: 31px 30px;
	border-radius: $border-radius-small;
	@include pseudo(before, 0, 0, 0, 0);
	@include pseudo(after, auto, 0, 0, 0);
	&:after{
		@extend %transition;
		@include size(100%, 2px);
	}
	&:before{
		border: 1px solid $gray-lighter;
		z-index: -1;
		border-radius: inherit;
	}
	&:hover{
		.aligncenter{ &:before{ transform: translateY(0); } }
	}
	.aligncenter{
		margin: -31px -30px 30px;
		position: relative;
		@include pseudo(before, 0, 0, 0, 0);
		&:before{
			background: rgba(255, 192, 0, 0.6);
			transform: translateY(-100%);
			transition: all 0.25s linear;
		}
		img{
			display: block;
			width: 100%;
		}
	}
	h3, .h3{
		margin: 0 0 13px;
		font-weight: 400;
		line-height: (22/18);
		text-transform: none;
	}
	.time{
		font-weight: 600;
		font-size: 12px;
		line-height: (16/12);
		a{ color: inherit; }
	}
	p{ margin: 0 0 16px; }
}
/* ---------------------------------------------------------
 41. Subscription aside block / .subscription-aside-block
 ---------------------------------------------------------*/
.subscription-aside-block{
	padding-top: 20px;
	padding-bottom: 20px;
}
/* ---------------------------------------------------------
 42. Newsletter sub form / .newsletter-sub-form
 ---------------------------------------------------------*/
.newsletter-sub-form{
	font-weight: 600;
	.text-wrap{
		display: flex;
		align-items: center;
		margin-bottom: 20px;
	}
	.icn{
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 40px;
		background-color: darken($color, 5%);
		margin-right: 19px;
		@include size(80px);
	}
	label{
		font-size: 20px;
		line-height: (22/20);
		margin-bottom: 0;
	}
	.form-control{ border-color: transparent; }
	.form-control,
	.btn{ height: 52px; }
	.btn{ width: 100px; }
	.text-dark{ color: $gray-darker; }
	p{ margin: 0; }
}
/* ---------------------------------------------------------
 43. Footer area / .footer-area
 ---------------------------------------------------------*/
.footer-area{
	.btn-default{
		color: inherit;
		border-color: currentColor;
		background-color: transparent;
		font-weight: 600;
		border-radius: $border-radius-small;
		&:hover{
			background-color: $gray-light;
			border-color: $gray-light;
			color: $white;
		}
	}
}
/* ---------------------------------------------------------
 44. aside / .aside
 ---------------------------------------------------------*/
.aside{
	padding-top: 30px;
	padding-bottom: 17px;
	h3, .h3{
		color: inherit;
		margin: 0 0 29px;
		text-transform: uppercase;
		font-size: 15px;
		padding-bottom: 17px;
		border-bottom: 1px solid rgba($gray-lighter, 0.1);
	}
	.col{ margin-bottom: 25px; }
	p{ margin: 0 0 23px; }
}
/* ---------------------------------------------------------
 45. Widget cources list / .widget-cources-list
 ---------------------------------------------------------*/
.widget-cources-list{
	margin-bottom: 0;
	> li{
		overflow: hidden;
		margin-bottom: 30px;
		&:hover{
			.alignleft{ &:before{ transform: translateX(0); } }
		}
		> a{
			color: inherit;
			&:hover{ color: $brand-primary; }
		}
	}
	.alignleft{
		margin: 0 15px 0 0;
		max-width: 60px;
		position: relative;
		@include pseudo(before, 0, 0, 0, 0);
		&:before{
			background: rgba(255, 192, 0, 0.6);
			transform: translateX(-100%);
			transition: all 0.25s linear;
		}
		img{
			display: block;
			width: 100%;
		}
	}
	.description-wrap{ overflow: hidden;}
	h4, .h4{
		margin: 0;
		font-weight: 400;
		font-size: 14px;
		line-height: (18/14);
		color: inherit;
	}
}
/* ---------------------------------------------------------
 46.Fooer-navigation / .fooer-navigation
 ---------------------------------------------------------*/
.fooer-navigation{
	margin-bottom: 0;
	> li{
		padding-left: 14px;
		font-size: 15px;
		line-height: (20/15);
		position: relative;
		margin-bottom: 10px;
		@include pseudo(before, 0, auto, auto, 0);
		&:before{
			border-radius: 100%;
			background-color: currentColor;
			top: 8px;
			@include size(4px);
		}
		&.active{
			> a{ color: $white; }
		}
		> a{
			color: inherit;
			&:hover{ color: $white; }
		}
	}
}
/* ---------------------------------------------------------
 47. Ft address / .ft-address
 ---------------------------------------------------------*/
.ft-address{
	margin: 0;
	font: inherit;
	dl{
		margin: 0;
		overflow: hidden;
	}
	dt{
		float: left;
		margin: 2px 8px 0 0;
		font-size: 20px;
		line-height: 1;
		clear: left;
		width: 18px;
		text-align: center;
	}
	dd{
		margin: 0 0 12px;
		overflow: hidden;
	}
	a{
		color: inherit;
		&:hover{ color: $brand-primary; }
	}
}
/* ---------------------------------------------------------
 48. Social networks / .social-networks
 ---------------------------------------------------------*/
.socail-networks{
	margin-bottom: 0;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	> li{
		margin-left: 7px;
		> a{
			font-size: 20px;
			color: $gray-light;
			&:hover{ color: $brand-primary; }
		}
	}
	#page-footer &{
		justify-content: center;
		> li{
			margin-left: 4px;
			margin-right: 4px;
		}
	}
	.bookmarkFoot &,
	.professionals-block &,
	.profile-info &{
		> li{
			> a{
				display: flex;
				align-items: center;
				justify-content: center;
				color: $white;
				font-size: 12px;
				background-color: #408cff;
				border-radius: 2px;
				@include size(32px);
				&.facebook{
					background-color: #3b5998;
					&:hover{ background-color: darken(#3b5998, 10%); }
				}
				&.twitter{
					background-color: #55acee;
					&:hover{ background-color: darken(#55acee, 10%); }
				}
				&.google{
					background-color: #dd4b39;
					&:hover{ background-color: darken(#dd4b39, 10%); }
				}
				&.linkedin{
					background-color: #408cff;
					&:hover{ background-color: darken(#408cff, 10%);}
				}
				&:hover{ background-color: darken(#408cff, 10%); }
			}
		}
	}
	.professionals-block &{
		justify-content: center;
		> li{ margin: 0 0 8px; }
	}
	.profile-info &{
		> li{
			margin-left: 0;
			margin-right: 4px;
		}
	}
	.top-bar &{
		border: solid $clr10;
		border-width: 0 1px;
		padding: 7px 7px 7px 0;
		> li{
			> a{
				font-size: 14px;
				color: $clr4;
				&:hover{ color: $brand-warning; }
			}
		}
	}
}
/* ---------------------------------------------------------
 49. Page footer / .page-footer
 ---------------------------------------------------------*/
#page-footer{
	border-top: 1px solid rgba($clr2, 0.04);
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
	p{
		margin: 0;
		a{
			color: inherit;
			&:hover{ color: $white; }
		}
	}
}
/* ---------------------------------------------------------
 50. Heading banner / .heading-banner
 ---------------------------------------------------------*/
.heading-banner{
	position: relative;
	overflow: hidden;
	@include pseudo(before, 0, 0, 0, 0);
	&:before{
		z-index: 1;
		pointer-events: none;
		background-color: rgba($gray-base, 0.2);
	}
	.holder{
		position: relative;
		z-index: 2;
		min-height: 100px;
		@include v-align(inherit, middle, before);
		.align{
			padding-top: 15px;
			padding-bottom: 15px;
			margin-left: -4px;
		}
	}
	h1, .h1{
		margin: 0;
		color: inherit;
	}
}
/* ---------------------------------------------------------
 51. Breadcrumb / .breadcrumb
 ---------------------------------------------------------*/
.breadcrumb-nav{
	border-bottom: 1px solid $gray-lighter;
	.breadcrumb{ margin-bottom: 0; }
}
.breadcrumb{
	> li + li{
		&:before{ padding: 0 8px; }
	}
	a{
		color: inherit;
		&:hover{ color: $brand-primary; }
	}
}
/* ---------------------------------------------------------
 52. Show head / .show-head
 ---------------------------------------------------------*/
.show-head{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-flow: row wrap;
	margin-bottom: 30px;
	select{ width: 100%; }
	.chosen-single{
		height: 40px;
		span{ padding: 5px 0;}
	}
	p{ margin: 0; }
}
/* ---------------------------------------------------------
 53. Pagination / .pagination
 ---------------------------------------------------------*/
.pagination{
	display: flex;
	> li{
		margin-right: 8px;
		> a{
			font-weight: 700;
			font-size: 14px;
			line-height: (18/14);
		}
	}
}
.flex-wrap{
	display: flex;
	flex-flow: row wrap;
}
/* ---------------------------------------------------------
 54. Two columns / #two-columns
 ---------------------------------------------------------*/
#two-columns{
	padding-top: 30px;
	padding-bottom: 30px;
}
/* ---------------------------------------------------------
 55. Content / #content
 ---------------------------------------------------------*/
#content{ margin-bottom: 35px;}
/* ---------------------------------------------------------
 56. Widget / .widget
 ---------------------------------------------------------*/
.widget{
	margin-bottom: 30px;
	> h3, > .h3{
		text-transform: uppercase;
		position: relative;
		border-bottom: 1px solid $gray-lighter;
		font-weight: 600;
		font-size: 15px;
		margin: 0 0 30px;
		padding-bottom: 14px;
		@include pseudo(after, auto, 0, -1px, 0);
		&:after{ @include size(40px, 2px); }
	}
	> ul{
		padding: 0;
		&.widget-cources-list{
			> li{ margin-bottom: 26px; }
		}
		> li{
			margin-bottom: 6px;
			&.active{
				> a{ color: $gray-darker; }
			}
			> a{
				color: $gray-light;
				&:hover{ color: $gray-darker; }
			}
		}
	}
}
/* ---------------------------------------------------------
 57. Widget search / .widget-search
 ---------------------------------------------------------*/
.widget_search{
	position: relative;
	button{
		position: absolute;
		top: 16px;
		border: 0;
		padding: 0;
		right: 10px;
		background-color: transparent;
		color: $clr2;
		font-size: 13px;
		@include size(14px);
		&:hover{ color: $brand-primary; }
	}
}
/* ---------------------------------------------------------
 58. Search form / .search-form
 ---------------------------------------------------------*/
.search-form{
	position: relative;
	input[type="search"]{
		box-sizing: border-box;
		border-color: $input-border;
		@include size(100%, 45px);
		padding: 7px 35px 7px 12px;
	}
}
/* ---------------------------------------------------------
 59. Widget intro / .widget-intro
 ---------------------------------------------------------*/
.widget_intro{
	.aligncenter{
		position: relative;
		overflow: hidden;
		img{
			display: block;
			max-width: none;
			width: 100%;
			@extend %transition;
		}
	}
	.btn-play{
		z-index: 2;
		position: absolute;
		color: $white;
		left: 0;
		top: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: rgba($gray-base, 0.2);
		font-size: 50px;
		border: 2px solid transparent;
		@include size(100%);
		&:hover{
			+ img{ transform: scale(1.05); }
		}
	}
}
/* ---------------------------------------------------------
 60. Single head / .single-haad
 ---------------------------------------------------------*/
.single-head{
	overflow: hidden;
	margin-bottom: 40px;
	h1, .h1{ margin: 0 0 20px; }
	.holder-wrap{ display: flex; }
	.rating-holder{ margin-left: auto; }
}
.rating-holder{
	.subtitle{
		color: $gray-light;
		font-size: 13px;
	}
}
/* ---------------------------------------------------------
 61. Profiler wrap / .profiler-wrap
 ---------------------------------------------------------*/
.profiler-wrap{
	display: flex;
	align-items: center;
	margin-bottom: 15px;
	margin-right: 40px;
	.alignleft{
		margin: 0 10px 0 0;
		@include size(35px);
	}
	.description-wrap{ overflow: hidden; }
	.title{
		font-size: 13px;
		line-height: (15/13);
		color: $gray-light;
		margin-bottom: 4px;
	}
	.subtitle{
		color: $gray;
		font-size: 12px;
		line-height: (14/12);
	}
	.icn-wrap{
		font-size: 35px;
		line-height: 1;
	}
}
/* ---------------------------------------------------------
 62. Content heading / .content-heading
 ---------------------------------------------------------*/
.content-h1{ margin: 0 0 16px; }
/* ---------------------------------------------------------
 63. View header / .view-header
 ---------------------------------------------------------*/
.view-header{
	.d-col{ margin-right: 40px; }
	.icn-wrap{
		font-size: 34px;
		line-height: 1;
	}
}
/* ---------------------------------------------------------
 64. Content aligncenter / .content-aligncenter
 ---------------------------------------------------------*/
.content-aligncenter{
	position: relative;
	margin-bottom: 48px !important;
	img{
		display: block;
		width: 100%;
		max-width: none;
	}
}
/* ---------------------------------------------------------
 64. SectionRowPanelGroup / .sectionRowPanelGroup
 ---------------------------------------------------------*/
.sectionRowPanelGroup{
	&,
	&.panel-group{
		margin-bottom: 49px;
		.panel{
			box-shadow: none;
			+ .panel{ margin-top: -1px; }
		}
		.panel-body{
			border: 0 !important;
			padding: 0 10px 0 39px;
		}
		.panel-heading{
			border: 0;
			border-radius: 0;
			background-color: transparent;
			padding: 0;
		}
		.panel-collapse{ background-color: $clr3; }
		.panel-title{
			color: $gray;
			text-transform: none;
			font-size: 14px;
			line-height: (16/14);
			font-family: $font-family-sans-serif;
			.label{
				margin-left: 15px;
				padding: 3px 6px;
				font-size: 11px;
			}
		}
		.accOpener{
			position: relative;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 10px 10px 10px 39px;
			min-height: 51px;
			&[aria-expanded="true"]{
				background-color: $clr3;
				.accOpenerIcn{ transform: rotate(90deg); }
			}
			&:hover{ background-color: $clr3; }
		}
		.accOpenerCol{
			display: flex;
			align-items: center;
		}
		.accOpenerIcn{
			position: absolute;
			left: 8px;
			top: 16px;
			font-size: 20px;
			color: $gray-lighter;
		}
		.inlineIcn{
			margin-right: 8px;
			min-width: 15px;
			text-align: center;
		}
		.tagText{
			font-size: 11px;
			line-height: 	(13/11);
			padding: 3px 7px;
			border-radius: 4px;
		}
		.timeCount{
			font-size: 12px;
			line-height: (15/12);
			color: $clr4;
			margin-left: 14px;
		}
	}
}
/* ---------------------------------------------------------
 65. BookmarkFoot / .bookmarkFoot
 ---------------------------------------------------------*/
.bookmarkFoot{
	border-top: 1px solid $gray-lighter;
	padding-top: 26px;
	padding-bottom: 16px;
	.bookmarkCol{
		margin-bottom: 10px;
		&.text-right{ text-align: left; }
	}
	.title{
		font-weight: 500;
		color: $gray-darker;
	}
	p{
		margin: 0;
		a{
			color: $gray-light;
			&:hover{ color: $gray-darker; }
		}
	}
}
/* ---------------------------------------------------------
 66. instructorInfoBox / .instructorInfoBox
 ---------------------------------------------------------*/
.instructorInfoBox{
	overflow: hidden;
	position: relative;
	border: 1px solid $gray-lighter;
	padding: 10px 15px;
	.alignleft{
		margin: 0 15px 0 0;
		overflow: hidden;
		border-radius: 2px;
		width: 45px;
		img{
			display: block;
			max-width: none;
			width: 100%;
			border-radius: inherit;
		}
	}
	.description-wrap{ overflow: hidden; }
	h3, .h3{
		margin: 0 0 6px;
		font-size: 17px;
	}
	h4, .h4{
		margin: 0 0 16px;
		color: inherit;
		font-size: 14px;
		font-family: $font-family-sans-serif;
	}
	.btn{ vertical-align: top; }
	p{ margin: 0 0 15px; }
}
/* ---------------------------------------------------------
 67. ReviewsList / .reviewsList
 ---------------------------------------------------------*/
.reviewsList{
	> li{
		overflow: hidden;
		margin-bottom: 29px;
	}
	.alignleft{ margin: 0 20px 0 0; }
	.description-wrap{
		overflow: hidden;
		border-radius: 2px;
		border: 1px solid $gray-lighter;
		padding: 22px;
	}
	time{ color: $clr4; }
	h3, .h3{
		margin: 0;
		font-weight: 500;
		font-size: 14px;
		line-height: (18/14);
	}
	.descrHead{
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 12px;
	}
	p{ margin: 0; }
}
/* ---------------------------------------------------------
 68. ReviesSubmissionForm / .reviesSubmissionForm
 ---------------------------------------------------------*/
.reviesSubmissionForm{
	.form-group{
		display: flex;
		align-items: flex-start;
		margin-bottom: 20px;
		> label,
		> .formLabel{
			width: 95px;
			margin: 0 5px 0 0;
		}
	}
	.form-control{ width: calc(100% - 100px); }
	.required{ color: $brand-warning; }
	textarea{
		&,
		&.form-control{
			resize: none;
			height: 121px;
		}
	}
	.btn{
		min-width: 105px;
		vertical-align: top;
		margin-left: 100px;
	}
}
/* ---------------------------------------------------------
 69. Widget box / .widget-box
 ---------------------------------------------------------*/
.widget_box{
	overflow: visible;
	border: 1px solid $gray-lighter;
	padding: 0 15px;
	.widgetHead{
		margin: -1px -15px 24px;
		padding: 22px 10px;
		h3, .h3{
			margin: 0;
			font-size: 14px;
		}
	}
}
/* ---------------------------------------------------------
 70. Widget course select / .widget-course-select
 ---------------------------------------------------------*/
.widget_course_select{
	.price{
		display: flex;
		align-items: center;
		font-size: 26px;
		line-height: (26/26);
		color: $gray-darker;
		margin-bottom: 24px;
		&:before{
			color: $gray-light;
			text-transform: uppercase;
			font-size: 13px;
			content: attr(data-label);
			margin-right: 6px;
			display: inline-block;
		}
	}
	> ul{
		> li{
			display: flex;
			align-items: flex-start;
			border: solid $gray-lighter;
			border-width: 1px 0;
			margin-bottom: -1px;
			padding: 14px 0;
			&:last-child{ border-bottom: 0; }
		}
		.icn{
			min-width: 17px;
			text-align: center;
			margin-right: 8px;
			margin-top: 6px;
		}
	}
}
/* ---------------------------------------------------------
 71. Tag clouds / .tag-clouds
 ---------------------------------------------------------*/
.tag-clouds{
	display: flex;
	flex-flow: row wrap;
	> li{
		margin-right: 7px;
		margin-bottom: 9px;
		> a{
			display: block;
			border: 1px solid $gray-lighter;
			border-radius: 2px;
			font-size: 13px;
			line-height: (16/13);
			padding: 4px 8px;
			text-align: center;
			&:hover{
				background-color: $brand-warning;
				border-color: transparent;
			}
		}
	}
}
/* ---------------------------------------------------------
 72. VisualImageHolder / .visualImageHolder
 ---------------------------------------------------------*/
.visualImageHolder{
	position: relative;
	> img{
		display: block;
		max-width: none;
		width: 100%;
	}
}
/* ---------------------------------------------------------
 73. CaptionAddress / .captionAddress
 ---------------------------------------------------------*/
.captionAddress{
	color: $gray;
	font-size: 14px;
	line-height: (18/14);
	margin-bottom: 0;
	.title{
		color: $gray-darker;
		font-size: 12px;
		line-height: (14/12);
		margin-bottom: 5px;
	}
	.addressColumn{
		position: relative;
		flex-grow: 1;
		flex-basis: 0;
		padding: 15px 18px 10px 30px;
		+ .addressColumn{ border-top: 1px solid rgba($white, 0.3); }
	}
	.icn{
		text-align: center;
		position: absolute;
		left: 8px;
		top: 15px;
		font-size: 14px;
		min-width: 15px;
	}
}
/* ---------------------------------------------------------
 74. TicketsInfoAside / .ticketsInfoAside
 ---------------------------------------------------------*/
.ticketsInfoAside{
	padding: 10px 15px;
	.btn{
		vertical-align: top;
		display: block;
		width: 100%;
	}
	.comming-timer{
		.countdown-row{
			.countdown-section{
				min-width: 60px;
				width: auto;
				margin: 0 31px 0 0;
				&:first-child{ margin: 0 31px 0 0; }
				.countdown-amount{
					font-size: 24px;
					line-height: (24/24);
					background: none;
					border-top: none;
					padding: 0;
					border-bottom: none;
					&:before{ display: none; }
				}
				.countdown-period{ color: $clr5; }
			}
		}
	}
}
/* ---------------------------------------------------------
 76. EventContentTabsWrap / .eventContentTabsWrap
 ---------------------------------------------------------*/
.eventContentTabsWrap{
	margin-bottom: 40px;
	.nav-tabs{
		margin-bottom: -1px;
		> li{
			&.active{
				> a{ color: $gray; }
			}
			> a{
				font-size: 15px;
				line-height: (19/15);
				color: $gray;
				padding: 8px 10px;
			}
		}
	}
	.tab-content{
		border: 1px solid $gray-lighter;
		padding: 10px 15px;
	}
}
/* ---------------------------------------------------------
 77. ListDefault / .listDefault
 ---------------------------------------------------------*/
.listDefault{
	margin-bottom: 0;
	line-height: (23/14);
	> li{
		margin-bottom: 14px;
		padding-left: 17px;
		position: relative;
		@include pseudo(before, 0, auto, auto, 0);
		&:before{
			border-radius: 100%;
			top: 9px;
			@include size(6px);
		}
	}
}
/* ---------------------------------------------------------
 78. MapHolder / .mapHolder
 ---------------------------------------------------------*/
.mapHolder{
	position: relative;
	margin-bottom: 50px;
	.mapMarker{
		position: absolute;
		left: 50%;
		top: 30%;
		z-index: 1;
		width: 26px;
	}
	> img{
		display: block;
		max-width: none;
		width: 100%;
	}
	.contact-block &{ margin-bottom: 0; }
}
/* ---------------------------------------------------------
 79. ShareWrap / .shareWrap
 ---------------------------------------------------------*/
.shareWrap{
	display: flex;
	align-items: center;
	.title{
		font-weight: 500;
		margin-right: 18px;
		color: $gray-darker;
	}
}
/* ---------------------------------------------------------
 80. Widget archives / .widget_archives
 ---------------------------------------------------------*/
.widget_archives{ select{ width: 100%; } }
/* ---------------------------------------------------------
 81. PostActionsInfo / .postActionsInfo
 ---------------------------------------------------------*/
.postActionsInfo{
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	> li{
		font-size: 9px;
		line-height: (10/9);
		margin-right: 8px;
		> a{
			color: inherit;
			display: flex;
			align-items: center;
			&:hover{ color: $gray-darker; }
		}
	}
	.icn{ margin-right: 5px; }
}
/* ---------------------------------------------------------
 82. BlogPost / .blogPost
 ---------------------------------------------------------*/
.blogPost{
	position: relative;
	border-bottom: 1px solid $gray-lighter;
	padding-bottom: 30px;
	margin-bottom: 30px;
	&.single{
		border-bottom: 0;
		padding-bottom: 0;
		margin-bottom: 0;
	}
	.aligncenter{
		img{
			display: block;
			width: 100%;
			max-width: none;
		}
	}
	.timeStamp{
		position: absolute;
		left: 10px;
		top: 10px;
		color: $gray;
		background-color: $white;
		border: 1px solid $gray-lighter;
		width: 60px;
		font-size: 12px;
		line-height: (15/12);
		padding: 10px;
		.date{
			font-size: 24px;
			line-height: 1;
			border-bottom: 1px solid $gray-lighter;
			padding-bottom: 12px;
			margin-bottom: 12px;
		}
	}
	> .btn{
		vertical-align: top;
		min-width: 123px;
	}
}
/* ---------------------------------------------------------
 83. ContentRightImage / .contentRightImage
 ---------------------------------------------------------*/
.contentRightImage{
	position: relative;
	overflow: hidden;
	max-width: 395px;
	margin: 0 0 30px 40px;
	border-radius: 2px;
	.imageCaption{
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		padding: 20px 15px;
		background-color: rgba($gray-base, 0.6);
	}
	img{
		vertical-align: top;
		border-radius: inherit;
	}
	p{ margin: 0; }
}
/* ---------------------------------------------------------
 84. WriterAsideInfo / .writerAsideInfo
 ---------------------------------------------------------*/
.writerAsideInfo{
	overflow: hidden;
	padding: 20px 15px;
	margin-bottom: 40px;
	.alignleft{
		background-color: $clr2;
		overflow: hidden;
		border-radius: 3px;
		margin: 0 15px 0 0;
		@include size(57px);
		.imagePlaceholder{
			font-size: 37px;
			margin-top: 23px;
		}
		img{
			display: block;
			width: 100%;
			max-width: none;
		}
	}
	h3, .h3{
		margin: 0 0 17px;
		font-size: 16px;
	}
	.description-wrap{
		overflow: hidden;
		padding-top: 14px;
	}
	p{ margin: 0; }
}
/* ---------------------------------------------------------
 85. CommentsList / .commentsList
 ---------------------------------------------------------*/
.commentsList{
	border: 1px solid $gray-lighter;
	overflow: hidden;
	li{
		position: relative;
		padding: 10px 15px;
		border-bottom: 1px solid $gray-lighter;
		margin-bottom: -1px;
	}
	ul{
		overflow: hidden;
		margin: 10px -15px 0;
		border-top: 1px solid $gray-lighter;
		li{
			padding-left: 25px;
			&:last-child{ padding-bottom: 0; }
		}
	}
	.alignleft{
		margin: 0 15px 0 0;
		overflow: hidden;
		border-radius: 2px;
		width: 45px;
		img{
			display: block;
			max-width: none;
			width: 100%;
			border-radius: inherit;
		}
	}
	.description-wrap{ overflow: hidden; }
	h3, .h3{
		margin: 0 0 6px;
		font-size: 17px;
	}
	time{
		margin: 0 0 10px;
		color: inherit;
		font-size: 14px;
	}
	.btn{
		vertical-align: top;
		min-width: 71px;
	}
	p{ margin: 0 0 15px; }
}
/* ---------------------------------------------------------
 86. CommentForm / .commentForm
 ---------------------------------------------------------*/
.commentForm{
	.required{ color: $brand-danger; }
	.btn{
		font-size: 16px;
		min-width: 164px;
		margin-top: 18px;
	}
	.form-control{ width: 100%; }
	textarea{
		&,
		&.form-control{
			resize: none;
			height: 144px;
		}
	}
}
/* ---------------------------------------------------------
 87. Text info block / .text-info-block
 ---------------------------------------------------------*/
.text-info-block{
	padding-top: 30px;
	padding-bottom: 35px;
	.image{
		max-width: none;
		width: 100%;
	}
	h1, .h1{
		margin: 0 0 20px;
		font-size:20px;
		line-height: 30px;
	}
}
/* ---------------------------------------------------------
 88. Why lms block / .why-lms-block
 ---------------------------------------------------------*/
.why-lms-block{
	padding-top: 35px;
	padding-bottom: 15px;
	.col{ margin-bottom: 30px; }
}
/* ---------------------------------------------------------
 89. Sep heading / .Sep-heading
 ---------------------------------------------------------*/
.sep-heading{
	margin: 0 0 30px;
	position: relative;
	padding-bottom: 13px;
	@include pseudo(after, auto, auto, 0, 0);
	&:after{ @include size(39px, 1px); }
}
/* ---------------------------------------------------------
 90. Why say slider / .why-say-slider
 ---------------------------------------------------------*/
.why-say-slider{
	padding-top: 40px;
	.slick-arrow{
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 0;
		right: 0;
		border: 1px solid $gray-lighter;
		color: $gray-darker;
		@include size(34px);
		&.slick-disabled{
			color: $clr4;
			pointer-events: none;
		}
	}
	.slick-prev{ right: 38px; }
}
/* ---------------------------------------------------------
 91. Say quote / .say-quote
 ---------------------------------------------------------*/
.say-quote{
	border: 0;
	padding: 0;
	margin: 0;
	color: $gray-dark;
	q{
		font: 300 16px/1.75 $font-family-serif;
		border: 1px solid $gray-lighter;
		position: relative;
		border-radius: 3px;
		padding: 15px 10px;
		margin-bottom: 23px;
		@include outlined-arrow(bottom, 7px, 1px, $white, $gray-lighter);
		&:after,
		&:before{ left: 61px; }
	}
	cite{
		overflow: hidden;
		display: flex;
		align-items: center;
		font-style: normal;
		font-size: 15px;
		line-height: (17/15);
		padding-left: 30px;
		padding-right: 30px;
	}
	.alignleft{
		margin: 0 27px 0 0;
		@include size(67px);
	}
	.author-title{
		font-size: 15px;
		line-height: (17/15);
		margin-bottom: 0;
	}
	.author-subtitle{ color: $gray-light; }
}
/* ---------------------------------------------------------
 92. Why panel group / .why-panel-group
 ---------------------------------------------------------*/
.why-panel-group{
	&,
	&.panel-group{
		.panel{
			box-shadow: none;
			+ .panel{ margin-top: -1px; }
		}
		.panel-heading{
			border: 0;
			padding: 0;
			background-color: transparent;
		}
		.panel-body{
			padding: 0 24px;
			border: 0 !important;
		}
		.panel-title{
			text-transform: none;
			font-size: 17px;
			line-height: (20/17);
		}
		.accOpener{
			position: relative;
			padding: 20px 54px 20px 25px;
			@include pseudo(before, 50%, 0, auto, auto);
			@include pseudo(after, 50%, 0, auto, auto);
			&[aria-expanded="true"]{
				&:before{
					opacity: 0;
					visibility: hidden;
				}
			}
			&:after,
			&:before{
				@extend %transition;
				transform: translateY(-50%);
				right: 28px;
			}
			&:before{
				transform: translateY(-50%);
				border-left: 1px solid $clr6;
				height: 14px;
				margin-right: 6px;
			}
			&:after{
				width: 14px;
				border-bottom: 1px solid $clr6;
			}
		}
	}
}
/* ---------------------------------------------------------
 93. Aside note block / .aside-note-block
 ---------------------------------------------------------*/
.aside-note-block{
	padding-top: 40px;
	padding-bottom: 21px;
	text-align: center;
	.col{
		margin-bottom: 20px;
		&.text-right{ text-align: center; }
	}
	h3, .h3{
		margin: 0 0 7px;
		color: inherit;
	}
	.alignleft{
		margin: 0 0 10px;
		float: none;
	}
	.descr-wrap{ overflow: hidden; }
	p{ margin: 0; }
}
/* ---------------------------------------------------------
 94. Professionals block / .professionals-block
 ---------------------------------------------------------*/
.professionals-block{
	padding-top: 35px;
	padding-bottom: 10px;
}
/* ---------------------------------------------------------
 95. Pro column / .pro-column
 ---------------------------------------------------------*/
.pro-column{
	position: relative;
	margin-bottom: 30px;
	padding: 0 22px 32px;
	border: 1px solid $gray-lighter;
	font-size: 14px;
	line-height: (20/14);
	&:hover{
		.aligncenter{
			> a{
				&:before{
					opacity: 1;
					visibility: visible;
				}
			}
		}
		.caption{ transform: translateY(0); }
	}

	.aligncenter{
		position: relative;
		overflow: hidden;
		margin: 0 -23px 25px;
		> a{
			@include pseudo(before, 0, 0, 0, 0);
			&:before{
				@extend %transition;
				transform-origin: 50% 50% 0;
				background-color: rgba($gray-base, 0.3);
				opacity: 0;
				visibility: hidden;
				z-index: 1;
			}
		}
		img{
			display: block;
			width: 100%;
			max-width: none;
		}
	}
	h3, .h3{ margin: 0 0 2px; }
	h4, .h4{ margin: 0 0 10px; }
	.caption{
		@extend %transition;
		position: absolute;
		left: 0;
		bottom: 0;
		top: 0;
		padding: 5px;
		z-index: 2;
		background-color: rgba($gray-base, 0.3);
		width: 50px;
	}
	p{ margin: 0; }
}
/* ---------------------------------------------------------
 96. Contact block / .contact-block
 ---------------------------------------------------------*/
.contact-block{ padding-top: 77px; }
/* ---------------------------------------------------------
 97. Detail column / .detail-column
 ---------------------------------------------------------*/
.detail-column{
	display: flex;
	align-items: center;
	line-height: 1;
	margin-bottom: 30px;
	.icn-wrap{ margin-right: 15px; }
	h3, .h3{
		margin: 0 0 13px;
		font-size: 14px;
	}
	img{ vertical-align: top; }
	a{
		color: inherit;
		&:hover{ color: $brand-primary; }
	}
	p{ margin: 0; }
}
/* ---------------------------------------------------------
 98. Sep or / .sep-or
 ---------------------------------------------------------*/
.sep-or{
	position: relative;
	border-color: $gray-lighter;
	margin-top: 44px;
	margin-bottom: 76px;
	@include pseudo(before, 50%, auto, auto, 50%);
	&:before{
		background-color: $white;
		padding-left: 20px;
		padding-right: 20px;
		font: 600 11px/1 $font-lato;
		text-transform: uppercase;
		transform: translate(-50%, -50%);
		text-transform: uppercase;
		content: attr(data-text);
	}
}
/* ---------------------------------------------------------
 99. Contact form / .contact-form
 ---------------------------------------------------------*/
.contact-form{
	margin-bottom: 35px;
	h3, .h3{
		position: relative;
		margin: 0 0 50px;
		text-transform: none;
		padding-bottom: 12px;
		@include pseudo(after, auto, auto, 0, 50%);
		&:after{
			transform: translateX(-50%);
			@include size(49px, 1px);
		}
	}
	.form-group{ margin-bottom: 37px; }
	.form-control{ width: 100%; }
	textarea{
		&,
		&.form-control{
			resize: none;
			height: 160px;
		}
	}
	.btn{ min-width: 173px; }
}
/* ---------------------------------------------------------
 100. Btn aside block / .btn-aside-block
 ---------------------------------------------------------*/
.btn-aside-block{
	padding-top: 23px;
	padding-bottom: 13px;
	text-align: center;
	.col{
		margin-bottom: 20px;
		&.text-right{ text-align: center; }
	}
	h3, .h3{ margin: 0; }
	p{ margin: 0; }
}
/* ---------------------------------------------------------
 101. User log block / .user-log-block
 ---------------------------------------------------------*/
.user-log-block{
	padding-top: 35px;
	padding-bottom: 15px;
}
/* ---------------------------------------------------------
 102. User log form / .user-log-form
 ---------------------------------------------------------*/
.user-log-form{
	border: 1px solid $gray-lighter;
	margin-bottom: 30px;
	padding: 22px 16px;
	overflow: hidden;
	h2, .h2{ margin: 0 0 16px; }
	.form-group{ margin-bottom: 21px; }
	.btn{
		min-width: 100px;
		margin-right: 17px;
		float: left;
	}
	.custom-check-wrap{ display: block; }
	.forget-link{
		display: inline-block;
		margin-top: 8px;
	}
	p{
		margin: 0;
		a{ &:hover{ color: $brand-primary; } }
	}
}
/* ---------------------------------------------------------
 103. Custom check wrap / .custom-check-wrap
 ---------------------------------------------------------*/
.custom-check-wrap{
	position: relative;
	display: inline-block;
	input:checked{
		+ .fake-label{
			&:after{ display: block; }
		}
	}
	.fake-label{
		position: relative;
		padding-left: 19px;
		@include pseudo(before, 0, auto, auto, 0);
		@include pseudo(after, 0, auto, auto, 0);
		&:before{
			border: 1px solid $clr6;
			box-shadow: inset 0 0 5px rgba($gray-base, 0.3);
			top: 8px;
			@include size(13px);
		}
		&:after{
			border: solid $brand-success;
			border-width: 0 0 2px 2px;
			transform: rotate(-45deg);
			left: 3px;
			top: 12px;
			display: none;
			@include size(7px, 4px);
		}
	}
}
/* ---------------------------------------------------------
 104. Instructor profile block / .instructor-profile-block
 ---------------------------------------------------------*/
.instructor-profile-block{
	padding-top: 40px;
	padding-bottom: 22px;
}
/* ---------------------------------------------------------
 105. Profiler aside / .profiler-aside
 ---------------------------------------------------------*/
.profiler-aside{ margin-bottom: 30px; }
/* ---------------------------------------------------------
 106. Profiler info / .profiler-info
 ---------------------------------------------------------*/
.profile-info{
	overflow: hidden;
	position: relative;
	color: $clr6;
	padding: 0 15px 23px;
	margin-bottom: 25px;
	.aligncenter{
		margin: 0 -15px 29px;
		img{
			display: block;
			max-width: none;
			width: 100%;
		}
	}
	dl{
		margin: 0;
		overflow: hidden;
		line-height: 1;
		a{
			color: inherit;
			&:hover{ color: $brand-warning; }
		}
	}
	dt{
		float: left;
		margin: 0 5px 0 0;
		width: 18px;
		font-size: 17px;
		text-align: center;
	}
	dd{
		overflow: hidden;
		margin: 0 0 4px;
		padding-top: 4px;
	}
	.sep{
		border-color: rgba($gray, 0.4);
		margin: 23px -15px;
	}
}
/* ---------------------------------------------------------
 107. Text form / .text-form
 ---------------------------------------------------------*/
.text-form{
	.form-group{
		margin-bottom: 19px;
		position: relative;
	}
	.btn{
		min-width: 120px;
		vertical-align: top;
	}
	.form-control{ width: 100%; }
	textarea{
		&,
		&.form-control{
			height: 128px;
			resize: none;
		}
	}
	h3, .h3{ margin: 0 0 24px; }
}
/* ---------------------------------------------------------
 108. Profile desription content/ .profile-desription-content
 ---------------------------------------------------------*/
.profile-desription-content{
	margin-bottom: 30px;
	> h3, > .h3{ margin: 0 0 17px; }
}
/* ---------------------------------------------------------
 109. List feature box/ .list-feature-box
 ---------------------------------------------------------*/
.list-feature-box{
	overflow: hidden;
	position: relative;
	border: 1px solid $gray-lighter;
	padding: 32px 27px 18px;
	margin-bottom: 37px;
	h3, .h3{ margin: 0 0 18px; }
}
/* ---------------------------------------------------------
 110. Table wrap/ .table-wrap
 ---------------------------------------------------------*/
.table-wrap{
	width: 100%;
	overflow: hidden;
}
/* ---------------------------------------------------------
 111. Topics data table / .topics-data-table
 ---------------------------------------------------------*/
.topics-data-table{
	&,
	&.table{
		font-size: 14px;
		line-height: (22/14);
		table-layout: fixed;
		width: 100%;
		border: 1px solid $table-border-color;
		thead{
			tr{
				border-width: 1px;
				border-style: solid;
			}
		}
		th{
			font-weight: 400;
			font-size: 13px;
			line-height: (16/13);
			padding: 12px 15px;
			text-align: inherit;
			color: $gray-dark;
			border: 0;
		}
	}
}
/* ---------------------------------------------------------
 112. Forum table / .forum-table
 ---------------------------------------------------------*/
.forum-data-table{
	@extend .topics-data-table;
	&,
	&.table{
		thead{
			tr{ border-color: $gray-darker; }
		}
		th{ color: $clr5; }
		h4, .h4{ margin: 0 0 15px; }
		p{
			margin: 0;
			> a:not(.btn){
				&:hover{ color: $brand-primary; }
			}
		}
	}
}
/* ---------------------------------------------------------
 113. Product module / .product-module
 ---------------------------------------------------------*/
.product-module{
	width: 100%;
	position: relative;
	margin-bottom: 40px;
	.aligncenter{
		position: relative;
		overflow: hidden;
		border-radius: 2px;
		margin: 0 0 20px;
		img{
			max-width: none;
			width: 100%;
			border-radius: inherit;
			display: block;
		}
	}
	h3, .h3{ margin: 0 0 7px; }
	.price{
		color: $gray-darker;
		font-size: 15px;
		line-height: (17/15);
		margin-bottom: 18px;
	}
	.btn{
		vertical-align: top;
		min-width: 120px;
	}
}
/* ---------------------------------------------------------
 114. Filter ranger form / .filter-ranger-form
 ---------------------------------------------------------*/
.filter-ranger-form{
	.get-results-wrap{
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-top: 19px;
	}
	#demo{
		font-size: 12px;
		line-height: (16/12);
	}
	.btn{
		vertical-align: top;
		min-width: 80px;
	}
	p{ margin: 0; }
}
/* ---------------------------------------------------------
 115. Reviews wrap / .reviews-wrap
 ---------------------------------------------------------*/
.reviews-wrap{
	display: flex;
	align-items: center;
	line-height: 1;
	.text-small{ font-size: 13px; }
}
/* ---------------------------------------------------------
 116. Product description column / .product-description-column
 ---------------------------------------------------------*/
.product-description-column{
	overflow: hidden;
	margin-bottom: 30px;
	.descr-wrap{ overflow: hidden; }
	.alignleft{
		margin: 0 18px 0 0;
		max-width: 409px;
		border-radius: 1px;
		overflow: hidden;
		img{
			border-radius: inherit;
			vertical-align: top;
		}
	}
	.price{ color: $gray-darker; }
	.query-wrap{
		display: flex;
		margin-bottom: 40px;
		.quantity{
			width: 80px;
			margin-right: 15px;
			text-align: center;
		}
	}
	.btn{
		vertical-align: top;
		min-width: 207px;
	}
	.storage-tag{ margin-bottom: 22px; }
	.categories-wrap{
		a{
			color: $gray-darker;
			&:hover{ color: $brand-warning; }
		}
	}
	p{ margin: 0; }
}
/* ---------------------------------------------------------
 117. Pro descr tab list / .pro-descr-tab-list
 ---------------------------------------------------------*/
.pro-descr-tab-list{
	&,
	&.nav-tabs,
	&.nav.nav-tabs{
		margin-bottom: 30px;
		> li{
			margin-right: -1px;
			&.active{
				> a{
					background-color: $white;
					color: $gray-darker;
					border-bottom-color: transparent;
				}
			}
			> a{
				border-radius: 3px 3px 0 0;
				border-color: $nav-tabs-border-color;
				color: $gray-darker;
				background-color: $clr3;
				font-size: 15px;
				line-height: (20/15);
				margin-right: 0;
			}
		}
	}
}
/* ---------------------------------------------------------
 118. Cart content block / .cart-content-block
 ---------------------------------------------------------*/
.cart-content-block{
	padding-top: 35px;
	padding-bottom: 35px;
	.price{ color: $gray-darker; }
	.btn{
		&.element-block{ width: 100%; }
	}
}
/* ---------------------------------------------------------
 119. Cart data table / .cart-data-table
 ---------------------------------------------------------*/
.cart-data-table{
	border: 1px solid $gray-lighter;
	&,
	&.table{
		table-layout: fixed;
		thead{ border-bottom: 1px solid $gray-lighter; }
		th{
			font-weight: 400;
			padding: 18px 10px;
			border: 0;
		}
		.col01{
			> div{ position: relative; }
		}
		.btn-remove{
			position: absolute;
			top: 50%;
			color: $clr5;
			font-size: 14px;
			transform: translateY(-50%);
			right: 5px;
			&:hover{ color: $brand-danger; }
		}
		.alignleft{
			width: 45px;
			margin: 0 45px 0 0;
			border-radius: 2px;
			overflow: hidden;
			img{
				max-width: none;
				width: 100%;
				display: block;
				border-radius: inherit;
			}
		}
		h3, .h3{ margin: 0; }
		.quantity{ width: 70px; }
		.coupon-wrap{
			.form-control{
				width: 100%;
				margin-bottom: 10px;
			}
		}
		.btn-default{
			display: block;
			width: 100%;
		}
	}
}
/* ---------------------------------------------------------
 120. Table cart total / .table-cart-total
 ---------------------------------------------------------*/
.table-cart-total{
	&,
	&.table{
		border: 1px solid $gray-lighter;
		table-layout: fixed;
		td{
			padding: 8px 12px;
			&:first-child{
				background-color: $clr3;
				color: $gray-darker;
			}
		}
		select{ width: 100%; }
		.chosen-container-single .chosen-single span{
			padding-top: 7px;
			padding-bottom: 7px;
		}
		.btn-calculate{
			margin-bottom: 15px;
			@include vertical(inline-block, top);
		}
	}
}
/* ---------------------------------------------------------
 121. Radio list / .radio-list
 ---------------------------------------------------------*/
.radio-list{
	> li{
		position: relative;
		margin-bottom: 5px;
	}
	.confirmation-box &{
		> li{ margin-bottom: 20px; }
		img{
			margin-top: -8px;
			margin-left: 18px;
			@include vertical(inline-block, top);
		}
	}
	.text-q{
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
	}
}
/* ---------------------------------------------------------
 122. Custom radio wrap / .custom-radio-wrap
 ---------------------------------------------------------*/
.custom-radio-wrap{
	position: relative;
	padding-left: 26px;
	margin-bottom: 0;
	@include vertical(inline-block, top);
	@include pseudo(before, 0, auto, auto, 0);
	@include pseudo(after, 0, auto, auto, 0);
	&:after,
	&:before{ border-radius: 100%; }
	&:before{
		border: 1px solid $clr5;
		box-shadow: inset 0 0 5px rgba($gray-base, 0.2);
		top: 6px;
		@include size(14px);
	}
	&:after{
		background-color: $gray-base;
		border-radius: 100%;
		display: none;
		top: 9px;
		left: 3px;
		@include size(8px);
	}
	input:checked + &{
		&:after{ display: block; }
	}
}
/* ---------------------------------------------------------
 122. Checkout block / .checkout-block
 ---------------------------------------------------------*/
.checkout-block{
	padding-top: 35px;
	padding-bottom: 30px;
}
/* ---------------------------------------------------------
 123. Strip note / .strip-note
 ---------------------------------------------------------*/
.strip-note{
	color: $gray;
	border-top: 2px solid $gray;
	background-color: $clr1;
	overflow: hidden;
	padding: 19px 26px;
	margin-bottom: 25px;
	a{
		color: inherit;
		&:hover{ color: $brand-warning; }
	}
	p{ margin: 0; }
}
/* ---------------------------------------------------------
 124. Checkout form / .checkout-form
 ---------------------------------------------------------*/
.checkout-form{
	select{
		width: 100%;
	}
	.chosen-container-single .chosen-single span{
		padding-top: 7px;
		padding-bottom: 7px;
	}
	.title-check{
		margin-bottom: 13px;
		margin-top: 26px;
		font-size: 22px;
		color: $gray-darker;
		line-height: 1.1;
	}
	.form-control{
		width: 100%;
		+ .form-control{ margin-top: 11px; }
	}
	.form-group{ margin-bottom: 18px; }
	textarea{
		&,
		&.form-control{
			resize: none;
			height: 80px;
		}
	}
	.m-descr{
		position: relative;
		margin-top: 16px;
		border-radius: 5px;
		background-color: $white;
		padding: 21px 25px;
		@include outlined-arrow(top, 8px, 1px, $white, $white);
		&:before,
		&:after{ left: 30px; }
		p{ margin: 0; }
	}
	.btn{
		vertical-align: top;
		min-width: 165px;
	}
}
/* ---------------------------------------------------------
 125. Confirmation box / .confirmation-box
 ---------------------------------------------------------*/
.confirmation-box{
	background-color: $clr1;
	overflow: hidden;
	position: relative;
	border-radius: 5px;
	padding: 38px 25px 20px;
	.sep{
		margin-left: -25px;
		margin-right: -25px;
		margin: 40px -25px 20px;
	}
}
/* ---------------------------------------------------------
 126. Order data table / .order-data-table
 ---------------------------------------------------------*/
.order-data-table{
	&,
	&.table{
		width: 100%;
		border: 1px solid $gray-lighter;
		table-layout: fixed;
		thead{ border-bottom: 1px solid $gray-lighter; }
		th{
			font-weight: 400;
			border: 0;
			color: $gray-darker;
		}
		th,
		td{ padding: 5px 8px; }
		tbody{
			tr{
				border: solid $gray-lighter;
				border-width: 1px 0;
			}
		}
		.price,
		.text-dark{ color: $gray-darker; }
	}
}
/* ---------------------------------------------------------
 127. No page block / .no-page-block
 ---------------------------------------------------------*/
.no-page-block{
	padding-top: 35px;
	padding-bottom: 45px;
	h1, .h1{
		margin: 0 0 24px;
		color: rgba($gray-darker, 0.55);
	}
	.text-large{
		color: $clr9;
		font-size: 100px;
		line-height: 1;
	}
	p{ margin: 0 0 50px; }
}
/* ---------------------------------------------------------
 128. Intro learn search block / .intro-learn-search-block
 ---------------------------------------------------------*/
.intro-learn-search-block{
	position: relative;
	overflow: hidden;
	min-height: calc(100vh - 86px);
	@include pseudo(before, 0, 0, 0, 0);
	&:before{
		background-color: rgba($gray-base, 0.1);
		pointer-events: none;
	}
	.holder{
		position: relative;
		z-index: 2;
		min-height: inherit;
		@include v-align(inherit, middle, before);
	}
	.align{
		padding-top: 30px;
		padding-bottom: 30px;
	}
}
/* ---------------------------------------------------------
 129. Learn search form / .learn-search-form
 ---------------------------------------------------------*/
.learn-search-form{
	position: relative;
	overflow: hidden;
	background-color: rgba($gray-base, 0.75);
	color: $clr5;
	padding: 15px;
	h1, .h1{
		margin: 0 0 8px;
		color: $white;
		text-transform: none;
	}
	.input-group{ margin-bottom: 38px; }
	.btn-warning{
		height: 42px;
		color: $gray-darker;
	}
	p{ margin: 0 0 25px; }
}
/* ---------------------------------------------------------
 130. Learning cources list / .learning-cources-list
 ---------------------------------------------------------*/
.learning-cources-list{
	margin-bottom: 0;
	> li{
		margin-bottom: 10px;
		> a{
			color: inherit;
			&:hover{ color: $brand-warning; }
		}
	}
	.icn{
		margin-right: 9px;
		min-width: 16px;
		text-align: center;
	}
}
/* ---------------------------------------------------------
 131. Featured columns aside / .featured-columns-aside
 ---------------------------------------------------------*/
.featured-columns-aside{
	padding-top: 60px;
	padding-bottom: 30px;
}
/* ---------------------------------------------------------
 132. Featured columns / .featured-columns
 ---------------------------------------------------------*/
.featured-column{
	position: relative;
	overflow: hidden;
	margin-bottom: 30px;
	@include pseudo(before, 0, 0, 0, 0);
	&:before{
		@extend %transition;
		background-color: rgba($gray-base, 0.2);
		opacity: 0;
		visibility: hidden;
	}
	&:hover{
		&:before{
			opacity: 1;
			visibility: visible;
		}
	}
	.caption{
		position: absolute;
		left: 0;
		bottom: 0;
		z-index: 2;
		right: 0;
		background-color: rgba($gray-base, 0.7);
		padding: 17px 10px;
	}
	h3, .h3{
		color: inherit;
		margin: 0;
	}
	img{
		display: block;
		width: 100%;
		max-width: none;
	}
}
/* ---------------------------------------------------------
 133. How work block / .how-work-block
 ---------------------------------------------------------*/
.how-work-block{
	padding-top: 35px;
	padding-bottom: 15px;
}
/* ---------------------------------------------------------
 134. Steps guide holder / .steps-guide-holder
 ---------------------------------------------------------*/
.steps-guide-holder{
	counter-reset: item;
	position: relative;
	z-index: 1;
	overflow: hidden;
}
/* ---------------------------------------------------------
 135. Guide column / .guide-column
 ---------------------------------------------------------*/
.guide-column{
	position: relative;
	overflow: hidden;
	font-size: 15px;
	line-height: (24/15);
	margin-bottom: 30px;
	&:hover{
		.icn{
			color: $white;
			&:after{
				background-color: $brand-warning;
				border-color: rgba($brand-warning, 0.3);
			}
		}
	}
	h3, .h3{
		margin: 0 0 13px;
		&:before{
			counter-increment: item;
			content: counters(item, ".", decimal) ".";
			display: inline-block;
		}
	}
	.icn-wrap{
		@extend %transition;
		position: relative;
		border-radius: 100%;
		border: 1px solid $gray-lighter;
		background-color: $white;
		display: flex;
		align-items: center;
		justify-content: center;
		color: $gray-darker;
		z-index: 1;
		margin: 0 auto 15px;
		@include size(100px);
	}
	.icn{
		@extend %transition;
		font-size: 20px;
		@include pseudo(after, 50%, auto, auto, 50%);
		&:after{
			@extend %transition;
			border-radius: 100%;
			background-color: $clr8;
			transform: translate(-50%, -50%);
			border: 8px solid transparent;
			z-index: -1;
			background-clip: content-box;
			@include size(74px);
		}
	}
	p{ margin: 0; }
}
/* ---------------------------------------------------------
 136. News column post / .news-column-post
 ---------------------------------------------------------*/
.news-column-post{
	margin-bottom: 30px;
	overflow: hidden;
	&:hover{
		.alignleft{ &:before{ transform: translateX(0); } }
	}
	.alignleft{
		position: relative;
		z-index: 1;
		width: 171px;
		float: none;
		margin: 0 auto -60px;
		@include pseudo(before, 0, 0, 0, 0);
		&:before{
			background: rgba(255, 192, 0, 0.6);
			transform: translateX(-100%);
			transition: all 0.25s linear;
		}
		img{
			display: block;
			max-width: none;
			width: 100%;
		}
	}
	.descr-wrap{
		border: 1px solid $gray-lighter;
		overflow: hidden;
		border-radius: 1px;
		background-image: linear-gradient(90deg, rgba($white,1) 0%, rgba($white,1) 100%), linear-gradient(90deg, rgba(255,206,85,1) 0%, rgba(255,206,85,1) 100%) ;
		background-repeat: no-repeat;
		background-position: 0 2px, 0 0;
		background-size: 100% calc(100% - 2px), 100% 2px;
		padding: 77px 15px 20px;
	}
	h3, .h3{
		margin: 0 0 10px;
	}
	time{
		font-size: 12px;
		line-height: (14/12);
		a{
			color: inherit;
			&:hover{ color: $brand-warning; }
		}
	}
	p{ margin: 0 0 20px; }
}
/* ---------------------------------------------------------
 137. Nav holder / .nav-holder
 ---------------------------------------------------------*/
.nav-holder{
	padding-top: 10px;
	padding-bottom: 10px;
	.row{
		display: flex;
		align-items: center;
		&:after,
		&:before{ display: none; }
	}
}
/* ---------------------------------------------------------
 138. H address / .h-address
 ---------------------------------------------------------*/
.h-address{
	display: flex;
	justify-content: flex-end;
	font-size: 12px;
	line-height: (18/12);
	margin: 0 -8px;
	.ad-col{
		display: flex;
		align-items: center;
		padding-left: 8px;
		padding-right: 8px;
	}
	.icn{
		color: $clr11;
		text-align: center;
		width: 20px;
		font-size: 20px;
		margin-right: 12px;
	}
	.title{ color: $clr12; }
	a{
		color: $gray-darker;
		&:hover{ color: $brand-warning; }
	}
}
/* ---------------------------------------------------------
 139. Courses column aside / .my-courses-column-aside
 ---------------------------------------------------------*/
.courses-column-aside{
	padding-top: 44px;
	padding-bottom: 40px;
}
/* ---------------------------------------------------------
 140. Descr column / .descr-column
 ---------------------------------------------------------*/
.descr-column{
	margin-bottom: 30px;
	color: $clr12;
	font-size: 14px;
	line-height: (22/14);
	h3, .h3{
		position: relative;
		margin: 0 0 15px;
		font-size: 16px;
		padding-bottom: 10px;
		text-transform: uppercase;
		@include pseudo(after, auto, auto, 0, 50%);
		&:after{
			background-color: $clr5;
			transform: translateX(-50%);
			@include size(40px, 1px);
		}
	}
	.icn{
		font-size: 50px;
		margin-bottom: 25px;
	}
	p{ margin: 0; }
}
/* ---------------------------------------------------------
 141. Become aside block / .become-aside-block
 ---------------------------------------------------------*/
.become-aside-block{
	min-height: 220px;
	position: relative;
	overflow: hidden;
	z-index: 1;
	@include pseudo(before, 0, 0, 0, 0);
	@include pseudo(after, 0, 0, 0, 0);
	&:before{
		z-index: 2;
		background-color: rgba($gray-base, 0.5);
	}
	&:after{
		background: linear-gradient(to right, rgba(245,193,47,0) 0%,rgba(245,193,47,1) 100%);
		z-index: 1;
		opacity: 0.3;
	}
	.holder{
		position: relative;
		z-index: 3;
		min-height: inherit;
		@include v-align(inherit, middle, before);
		.align{
			margin-left: -4px;
			padding-top: 20px;
			padding-bottom: 20px;
		}
	}
	h2, .h2{
		margin: 0 0 5px;
		color: inherit;
	}
	.btn{
		vertical-align: top;
		min-width: 175px;
	}
	p{ margin: 0 0 28px; }
}
/* ---------------------------------------------------------
 142. Details block / .details-block
 ---------------------------------------------------------*/
.pricing-details-block{
	padding-top: 35px;
	padding-bottom: 15px;
}
/* ---------------------------------------------------------
 143. Price box column / .price-box-column
 ---------------------------------------------------------*/
.price-box-column{
	position: relative;
	border: 1px solid $gray-lighter;
	margin-bottom: 30px;
	font-size: 14px;
	line-height: (22/14);
	padding: 27px 15px 46px;
	@include pseudo(before, -1px, auto, auto, 50%);
	&:hover,
	&.active{
		.icn-wrap{
			border-color: rgba($brand-warning, 0.5);
			color: $white;
		}
	}
	&:before{
		transform: translateX(-50%);
		@include size(110px, 2px);
	}
	.price{ color: $gray-base; }
	.text-large{ font-size: 24px; }
	.icn-wrap{
		@extend %transition;
		color: $gray-base;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: $clr8;
		background-clip: padding-box;
		border: 10px solid $clr13;
		font-size: 40px;
		margin: 0 auto 16px;
		@include size(120px);
	}
	h3, .h3{
		margin: 0 0 20px;
		font-size: 13px;
		line-height: (16/13);
	}
	.btn{
		vertical-align: top;
		margin-top: 30px;
		min-width: 124px;
	}
	p{ margin: 0; }
}
/* ---------------------------------------------------------
 144. Parteners aside block / .parteners-aside-block
 ---------------------------------------------------------*/
.parteners-aside-block{
	padding-top: 35px;
	padding-bottom: 35px;
	h2, .h2{ margin: 0 0 27px; }
}
/* ---------------------------------------------------------
 145. Logos slider / .logos-slider
 ---------------------------------------------------------*/
.logos-slider{
	margin-left: -15px;
	margin-right: -15px;
	padding-top: 45px;
	.slick-arrow{
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 0;
		right: 15px;
		border: 1px solid $gray-lighter;
		color: $gray-darker;
		@include size(34px);
		&.slick-disabled{
			color: $clr4;
			pointer-events: none;
		}
	}
	.slick-prev{ right: 53px; }
}
/* ---------------------------------------------------------
 146. Logo wrap / .logo-wrap
 ---------------------------------------------------------*/
.logo-wrap{
	padding-left: 15px;
	padding-right: 15px;
	> a{
		position: relative;
		display: block;
		border: 1px solid $gray-lighter;
		@include pseudo(after, auto, 0, -1px, 0);
		&:after{
			@extend %transition;
			border-bottom: 3px solid transparent;
		}
	}
	img{
		display: block;
		max-width: none;
		width: 100%;
	}
}
/*------------------------------------------------------------------
147. Back Top / #back-top
-------------------------------------------------------------------*/
#back-top {
    position: fixed;
    right: 20px;
    bottom: 20px;
    font-size: 25px;
	line-height: (16/30);
    color: $white;
    cursor: pointer;
    float: right;
    @include size(50px, 50px);
    padding: 16px 0;
    z-index: 9;
    opacity: 0;
    visibility: hidden;
    background: $color;
    border-radius: 5px;
    transition: all 0.6s ease 0s;
    &.active{
        opacity: 1;
        visibility: visible;
    }
    &:hover{ opacity: 0.7; }
}
/*------------------------------------------------------------------
148. Loader Holder / .loader-holder
-------------------------------------------------------------------*/
.loader-holder {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  position: fixed;
  background-color: rgba($white, 0.9);
  .block {
      top: 50%;
      left: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
    }
}
/* ---------------------------------------------------------
 149. Example lightbox / .example-lightbox
 ---------------------------------------------------------*/
.popup-holder {
    position: relative;
    overflow: hidden;
    height: 0;
}
.lightbox-demo {
    padding: 5px;
    width: 500px;
}
.lightbox-demo .user-log-form{ border: none; }
.lightbox-demo h2 { margin: 0 0 10px; }
.lightbox-demo p { margin: 0; }
.comming-timer{
	overflow: hidden;
	.countdown-row{
		overflow: hidden;
		.countdown-section{
			width: 22%;
			float: left;
			margin: 0 0 0 11px;
			&:first-child{ margin: 0 0 0 5px; }
			.countdown-amount{
				font-size: 42px;
				line-height: 30px;
				color: $clr15;
				font-weight: 700;
				padding: 25px 10px;
				display: block;
				border-radius: 5px;
				background: $clr14;
				border-top: 2px solid $clr17;
				border-bottom: 2px solid $clr16;
				position: relative;
				z-index: 1;
				margin: 0 0 2px;
				@include pseudo(before, 0, 0, 50%, 0);
				&:before{
					background: $clr18;
					z-index: -1;
				}
			}
		}
	}
}
