<template>
  <div class="container">
    Home page
  </div>
</template>

<script>
export default {
  layout: 'default',
  middleware: [],
  fetch({$axios, store, app, query, route}) {
  },
  head() {
    return this.$prepareMeta({
      title: 'Home',
      description: null,
      keywords: null,
      image: null,
    }, this);
  }
}
</script>

<style>
</style>
