<template>
  <div>
    <app-breadcrumb></app-breadcrumb>
    <div class="p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-5 fw-normal">Login</h1>
    </div>
    <div class="row mb-3">
      <div class="container">
        <login></login>
      </div>
    </div>
  </div>
</template>


<script>
export default {
  middleware: ['logged'],
  head() {
    return this.$prepareMeta({
      title: 'Login',
      description: null,
      keywords: null,
      image: null,
    }, this);
  },
  mounted() {
    /////////////////// setBreadcrumb
    this.$store.commit('setBreadcrumb', {
      title: 'Login',
    })
    ////////////////////////////////
  },
}
</script>

<style>

</style>
