<template>
  <footer class="pt-4 my-md-5 pt-md-5">
    <div class="row">
      <div class="col-4">
        Address: {{$store.state.configs.address}}
      </div>
      <div class="col-4">
        Phone: {{$store.state.configs.phone}}
      </div>
      <div class="col-4">
        Email: {{$store.state.configs.email}}
      </div>
    </div>
    <div class="row">
        @Copyrights 2021 - {{$store.state.configs.app_name}}
    </div>
  </footer>
</template>


<script>

export default {

}
</script>
