<template>
  <div>
    <app-breadcrumb></app-breadcrumb>
    <big-movie :row="$store.state.movie">
    </big-movie>
  </div>
</template>

<script>
import BigMovie from "../../components/movies/BigMovie";
export default {
  components: {BigMovie},
  middleware: [],
  fetch({$axios, store, app, params,$config}) {
    try {
      let id = params.id;
      if (store.state.row && store.state.movie.id == id) return true;
      let url=$config.MOVIES_URL+'movie/'+id+'?api_key='+$config.API_KEY;
      return $axios.$get(url).then(res => {
        store.commit('setMovie', res);
      })
    } catch (e) {
    }
  },
  head() {
    console.log('config '+this.$config.IMAGE_SRC);
    return this.$prepareMeta({
      title: this.$store.state.movie.title,
      description: this.$store.state.movie.overview,
      keywords: this.$store.state.movie.title,
      image: this.$config.IMAGE_SRC+'/'+this.$store.state.movie.poster_path
    }, this);
  },
  mounted() {
    /////////////////// setBreadcrumb
    this.$store.commit('setBreadcrumb', {
      title: this.$store.state.movie.title,
      links: [
        {
          src: '/movies',
          label: 'Movies'
        }
      ]
    })
    ////////////////////////////////
  },
}
</script>
