<template>
  <div>
    <app-breadcrumb></app-breadcrumb>
    <div class="p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-5 fw-normal">Movies</h1>
    </div>
    <div class="row mb-3">
      <div class="container">
        <p>
          {{ $store.state.favourites }}
        </p>
        <p>
          {{ $store.state.rates }}
        </p>
        <div class="row">
          <small-movie :row="row" v-for="row in $store.state.movies.results" :key="row.id">
          </small-movie>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import SmallMovie from "../../components/movies/SmallMovie";

export default {
  components: {SmallMovie},
  layout: 'default',
  watchQuery: ['page'],
  middleware: [],
  fetch({$axios, store, app, query, route, $config}) {
    let page = (route.query.page) ? route.query.page : 1;
    let url = $config.MOVIES_URL + 'discover/movie?api_key=' + $config.API_KEY + '&page=' + page;
    return $axios.$get(url).then(res => {
      store.commit("setMovies", res);
    });
  },
  head() {
    return this.$prepareMeta({
      title: 'Movies',
      description: null,
      keywords: null,
      image: null,
    }, this);
  },
}
</script>

<style>
</style>
